html, body, h1, h2, h3, h4, h5, h6, fieldset, figure, blockquote, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: none; }

html {
  background-color: #e5e5e5;
  overflow-x: hidden; }

p, ol, ul, dl, figure {
  margin-top: 0;
  margin-bottom: 2.2rem; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.text-left {
  text-align: left !important; }
.text-left * {
  text-align: left !important; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.hidden, .js .js-hidden {
  display: none !important; }

.version {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  transition: all .3s;
  outline: 5000px solid transparent; }
.version * {
  display: inline-block;
  color: #fff;
  vertical-align: middle; }
.version span {
  max-width: 0;
  overflow: hidden;
  transition: all .3s; }
.version span:before {
  content: '-';
  margin: 0 .2em 0 .5em; }
.version:hover {
  outline: 5000px solid rgba(0, 0, 0, 0.2); }
.version:hover span {
  max-width: 200px; }

html {
  font-size: 62.5%; }
@media (max-width: 900px) {
  html {
    font-size: 50%; } }

body, [type="text"], [type="search"], [type="email"], [type="password"], [type="url"], [type="number"], [type="date"], [type="time"], [type="tel"], [type="datalist"], pre, textarea, select {
  font-size: 1.6rem;
  font-family: "AvenirNextLTW01-Regular", verdana, sans-serif; }

.bold {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif; }

body {
  line-height: 1.375;
  color: #5e5e5e; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, .huge {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1em; }

h2, .big {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0.2em; }

h3, .large {
  font-size: 2rem;
  line-height: 1.2; }

a {
  color: #5e5e5e; }

h1, h2, h3 {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
  font-weight: 400; }

h4, .normal {
  font-size: 1.6rem;
  line-height: 1.375; }

h5, .small {
  font-size: 1.4rem;
  line-height: 1.375; }

h6, .tiny {
  font-size: 1.2rem;
  line-height: 1.375; }

body {
  padding: 3rem; }
@media (max-width: 900px) {
  body {
    padding: 10px; } }

.container {
  max-width: 960px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }

.main {
  max-width: 1400px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 3rem; }
@media (max-width: 900px) {
  .main {
    padding: 10px; } }

.columns {
  columns: 4;
  margin-right: -1em; }
.columns .group {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  margin-right: 1em; }
@media (max-width: 1290px) {
  .columns {
    columns: 3; } }
@media (max-width: 900px) {
  .columns {
    columns: 2; } }
@media (max-width: 700px) {
  .columns {
    columns: 1; } }

.icon-andreas {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 68px;
  background-image: url("../images/ico_andreas.svg");
  background-size: 100% auto;
  background-repeat: no-repeat; }

.icon-arrow {
  position: relative;
  top: .4em;
  display: inline-block;
  vertical-align: top;
  content: '';
  width: .4em;
  height: .4em;
  transform: rotate(45deg);
  border-top: 0.15em solid #5e5e5e;
  border-right: 0.15em solid #5e5e5e; }

.icon-menu, .icon-close {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background-color: #fff;
  text-align: center;
  background-color: #e5e5e5; }
.icon-menu:before, .icon-menu:after, .icon-close:before, .icon-close:after {
  position: absolute;
  left: 12px;
  top: 14px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  border-top: 4px solid #ec0000;
  border-bottom: 4px solid #ec0000; }
.icon-menu:after, .icon-close:after {
  top: 21px;
  border-bottom: 0; }

.icon-close {
  background-color: #fff; }
.icon-close:before {
  display: none; }

.header {
  max-width: 1400px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 3rem; }
.header .container {
  position: relative;
  z-index: 100; }
@media (max-width: 900px) {
  .header {
    padding: 10px; } }

.logo {
  position: relative;
  display: inline-block;
  font-size: 2.3rem;
  line-height: 1;
  color: #ec0000;
  text-decoration: none;
  width: 6em;
  padding-left: 3rem;
  min-height: 3em;
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif; }
.logo i {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 1rem; }
.logo .icon-andreas {
  width: 2rem;
  height: 6.8rem; }
.logo strong {
  white-space: nowrap;
  color: #5e5e5e;
  font-weight: normal; }

.nav-container {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0; }

.nav {
  position: relative;
  z-index: 5;
  display: none; }
.nav.active {
  display: block; }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
.menu a {
  display: block;
  padding: 1em;
  min-width: 200px;
  text-decoration: none;
  background-color: #fff;
  margin-bottom: 1px; }

.nav-open, .nav-close {
  display: block;
  height: 44px;
  text-align: right;
  line-height: 48px;
  text-decoration: none;
  margin-bottom: 10px; }

.nav-close {
  position: absolute;
  right: 0;
  top: 0;
  display: none; }
.nav-close:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.nav.active ~ .nav-close {
  display: block; }

.nav-top {
  position: fixed;
  z-index: 100;
  margin: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 6rem;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: all .3s; }
@media (max-width: 900px) {
  .nav-top {
    padding: 20px; } }
.nav-top a {
  display: inline-block;
  pointer-events: auto;
  width: 42px;
  height: 42px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 44px;
  transition: all .3s;
  border: 1px solid #f3f3f3;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  outline: 4000px solid transparent; }
.nav-top a:hover {
  border-color: #5e5e5e; }
.nav-top a:hover {
  outline: 4000px solid rgba(0, 0, 0, 0.1); }
.scrolled .nav-top {
  z-index: 100;
  opacity: 1; }

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 1.2em 2em 1em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ec0000;
  color: #fff;
  border: 1px solid #ec0000;
  cursor: pointer; }
.button.full {
  text-align: center;
  width: 100%; }
.button.secondary {
  background-color: #000;
  border-color: #000; }

input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="url"], textarea {
  width: 100%;
  line-height: 1;
  padding: 0 1em;
  min-height: 3em;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .3s; }
input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.8); }

textarea {
  padding: 1em; }

legend {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 700; }

fieldset {
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 2.2rem;
  margin-bottom: 2.2rem; }

form .row {
  margin-bottom: 2.2rem; }
form .group {
  display: flex; }
form .group label {
  margin-right: 1em; }
form label {
  display: block; }
form label strong {
  display: block;
  margin-bottom: 5px; }

.form-list {
  list-style: none;
  padding: 0;
  counter-reset: item; }
.form-list li:not(.item-deleted) strong:after {
  counter-increment: item;
  content: " " counter(item); }

.form-list button, .form-list + button {
  padding: 0;
  margin: 0;
  color: #ec0000;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer; }
.form-list button:hover, .form-list + button:hover {
  color: #000; }

.form-list li {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s;
  max-height: 1000px; }
.form-list li button {
  position: absolute;
  right: 0;
  top: 0;
  transition: all .3s; }
.form-list li.item-deleted {
  max-height: 0; }
.form-list li [name*="-DELETE"] {
  display: none; }

.buttons {
  overflow: hidden;
  display: flex;
  align-items: center; }
.buttons > * {
  margin-right: 1em; }
.buttons.right {
  flex-direction: row-reverse; }
.buttons.right > * {
  margin-left: 0;
  margin-right: 1em; }

.regelingen {
  list-style: none;
  padding: 0;
  margin: 0; }
.regelingen a {
  display: block;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: .5em; }

.regelingen-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 2.2rem; }
.regelingen-header > * {
  margin: 0 0 2.2rem 0; }
.regelingen-header .sort {
  font-size: 1.4rem; }

.shortcut {
  font-size: 2.2rem;
  line-height: 1;
  padding: 2.2rem 0 0 0;
  margin: 0 0 .4em 0; }

.regeling-title {
  margin: 0 0 .8em 0;
  font-size: 2.4rem;
  font-weight: 700; }
.regeling-title .regeling-edit {
  position: relative;
  z-index: 10;
  top: .1em;
  float: right;
  margin-left: 1em;
  font-size: .8em;
  font-weight: 400; }
.regeling-title .regeling-edit a {
  text-decoration: none; }
.regeling-title:hover .regeling-edit {
  opacity: .6; }
.regeling-title .regeling-edit:hover {
  opacity: 1; }

.regeling-edit {
  opacity: .1;
  transition: all .3s; }

.regeling {
  position: relative;
  padding-left: 130px; }
.regeling p, .regeling li {
  max-width: 45em; }

.regeling-voorwaarden {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0 0 2.2rem 0;
  counter-reset: item; }
.regeling-voorwaarden li {
  position: relative;
  padding-left: 44px;
  padding-right: 150px; }
.regeling-voorwaarden li:before {
  position: absolute;
  left: 0;
  top: -4px;
  counter-increment: item;
  content: counter(item);
  min-width: 30px;
  height: 30px;
  background-color: #5e5e5e;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  text-align: center; }
.regeling-voorwaarden li {
  margin-bottom: 2.2rem; }

.regeling-progress {
  display: inline-block;
  text-align: center;
  line-height: 88px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  font-size: 2.4rem;
  font-weight: 700; }
.regeling-progress em {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-style: normal;
  font-size: .5em; }
.regeling .regeling-progress {
  position: absolute;
  left: 0;
  top: -36px; }

.regeling-voorwaarde-yesno {
  position: absolute;
  right: 0;
  top: 0; }
.regeling-voorwaarde-yesno input {
  position: absolute;
  left: -1000px;
  opacity: 0; }
.regeling-voorwaarde-yesno label {
  cursor: pointer;
  padding: .5em 0;
  display: inline-block;
  border-radius: 3px 0 0 3px;
  width: 3.5em;
  text-align: center;
  color: #000;
  background-color: #ebeaea;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s; }
.regeling-voorwaarde-yesno label + label {
  border-radius: 0 3px 3px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2); }
.regeling-voorwaarde-yesno [for*="-yes"]:hover {
  background-color: #d7e2c7; }
.regeling-voorwaarde-yesno [for*="-no"]:hover {
  background-color: #eed7d7; }
.regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-no"] {
  background-color: #ff9191;
  color: #fff; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-yes"] {
  background-color: #8ac640;
  color: #fff; }
.regeling-voorwaarde-yesno [for*="-initial"] {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  width: 50%;
  background-color: #000;
  opacity: 0;
  overflow: hidden; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-initial"], .regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-initial"] {
  display: block; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-initial"] {
  left: 0; }
.regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-initial"] {
  right: 0; }

/*

.regeling {
  
  position: relative;
  
  margin-bottom: $lineHeight;
  border-bottom: 1px solid #f3f3f3;
  padding: $padding / 2;
  margin-left: -$padding / 2;
  margin-right: -$padding / 2;
  
  transition: all .3s;
  
  &.active {
//    background-color: #f3f3f3;
  }
  
  @include medium {
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    
  }
  
}
.regeling-voorwaarden {
  margin-bottom: $lineHeight;
  padding-left: 2em;
}
.regeling-edit {
  opacity: .1;
  transition: all .3s;
}

.regeling-more {
  display: none;
  margin: 0;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:before {
    content: attr(data-more);
  }
  a:after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($accentColor, 0);
    
    transition: all .1s;
  }
  .active & {
    a:before {
      content: attr(data-less);
    }
    a:after {
      background-color: rgba($accentColor, .02);
    }
    
  }
  a:hover:after {
    background-color: rgba($accentColor, .05);
  }
}

pre.regeling-samenvatting {
  position: relative;
  padding: 0 0 $lineHeight;
  margin: 0 0 $lineHeight/2 0;
  white-space: normal;
  
  display: none;
  
  max-height: 2 * $lineHeight;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: $lineHeight;
    transition: all .3s;
    opacity: 1;
    
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
    
    .active & {
      opacity: 0;
    }
  }
  
  .active & {
    margin-bottom: 0;
  }
}
.regeling-doelen {
  list-style: none;
  padding: 0;
  margin: 0;
  label {
    display: inline-block;
  }
  .regeling-doel {
    display: block;
  }
}
.regeling-doel {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  &.active {
    max-height: 2000px;
    margin-bottom: $lineHeight;
  }
}

.regelingen {

  .regeling-details,
  pre.regeling-samenvatting {

    max-height: 0;
    overflow: hidden;
    transition: all .3s;

    .active & {
      max-height: 2000px;
    }
  }

}
*/
.contact {
  max-width: 300px;
  width: auto;
  min-height: 60px;
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px; }
.contact h3 {
  font-size: 16px;
  color: #343434;
  margin-bottom: 5px; }
.contact .rol {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  color: #666; }
.contact .button {
  margin-bottom: 0; }
.contact .foto {
  float: left;
  width: 60px;
  height: 60px; }
.contact .details {
  margin-left: 80px; }
.contact:last-child {
  margin-bottom: 0; }

.contact-lijst {
  list-style: none;
  margin: 0;
  padding: 0; }

.shortcuts {
  list-style: none;
  padding: 0;
  margin: 0 0 calc(2.2rem - 1em) 0;
  font-size: 0;
  display: none; }
.shortcuts li {
  display: inline; }
.shortcuts a {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #f3f3f3;
  min-width: 1em;
  height: 1em;
  line-height: 1;
  padding: 1em;
  margin: 0 1em 1em 0;
  text-decoration: none; }
.shortcuts a:hover {
  border-color: #5e5e5e; }
.shortcuts a.disabled {
  opacity: .2;
  cursor: not-allowed; }
.shortcuts a.disabled:hover {
  border-color: #f3f3f3; }
@media (max-width: 900px) {
  .shortcuts {
    display: block; } }

.shortcut {
  padding-top: 2.2rem;
  line-height: 2.2rem; }

.sort {
  list-style: none; }
.sort li {
  display: inline; }
.sort a {
  display: inline-block;
  color: #6db5d6;
  padding: 0 .5em; }
.sort a.active {
  text-decoration: none; }
.sort li + li {
  border-left: 1px solid #6db5d6; }

/*# sourceMappingURL=screen.css.map */
