html, body, h1, h2, h3, h4, h5, h6, fieldset, figure, blockquote, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: none; }

html {
  background-color: #fff;
  overflow-x: hidden; }

p, ol, ul, dl, figure {
  margin-top: 0;
  margin-bottom: 2.2rem; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.text-left {
  text-align: left !important; }
.text-left * {
  text-align: left !important; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.well {
  padding: 3rem;
  background-color: #f5f5f5;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
.well > *:last-child {
  margin-bottom: 0; }
@media (max-width: 900px) {
  .well {
    padding: 10px; } }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  font-size: 0; }

.hidden, .js .js-hidden {
  display: none !important; }

@media (max-width: 700px) {
  .small-hide {
    display: none !important; } }

.medium-show {
  display: none; }
@media (max-width: 900px) {
  .medium-show {
    display: initial; } }

.version {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  transition: outline .3s;
  outline: 5000px solid transparent; }
.version * {
  display: inline-block;
  color: #fff;
  vertical-align: middle; }
.version span {
  max-width: 0;
  overflow: hidden;
  transition: max-width .3s; }
.version span:before {
  content: '-';
  margin: 0 .2em 0 .5em; }
.version:hover {
  outline: 5000px solid rgba(0, 0, 0, 0.2); }
.version:hover span {
  max-width: 300px; }

html {
  font-size: 62.5%; }
@media (max-width: 900px) {
  html {
    font-size: 50%; } }

body, [type="text"], [type="search"], [type="email"], [type="password"], [type="url"], [type="number"], [type="date"], [type="time"], [type="tel"], [type="datalist"], pre, textarea, select, input[type="checkbox"] + strong {
  font-size: 1.6rem;
  font-family: "AvenirNextLTW01-Regular", verdana, sans-serif; }

.bold, legend, b, strong {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif; }

body {
  line-height: 1.375;
  color: #333; }

a:hover {
  color: black; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, .huge {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1em; }

h2, .big {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0.2em; }

h3, .large {
  font-size: 2rem;
  line-height: 1.2; }

a {
  color: #333; }

h1, h2, h3 {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
  font-weight: 400; }

h4, .normal {
  font-size: 1.6rem;
  line-height: 1.375; }

h5, .small {
  font-size: 1.4rem;
  line-height: 1.375; }

h6, .tiny {
  font-size: 1.2rem;
  line-height: 1.375; }

body {
  padding: 0; }

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }
.container.container-small {
  max-width: 45em; }

.main {
  max-width: 1400px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 3rem; }
@media (max-width: 900px) {
  .main {
    padding: 10px 10px 54px 10px; } }

.columns {
  columns: 3;
  -moz-column-fill: balance;
  column-fill: balance;
  margin-right: -1em;
  transform: translate3d(0, 0, 0); }
.columns .group {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  width: calc(100% - 1em);
  margin-right: 1em; }
@media (max-width: 1290px) {
  .columns {
    columns: 2; } }
@media (max-width: 700px) {
  .columns {
    columns: 1; } }

.icon-andreas {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 68px;
  background-image: url("../images/ico_andreas.svg");
  background-size: 100% auto;
  background-repeat: no-repeat; }

.icon-arrow, .icon-arrow-left, .icon-arrow-right {
  position: relative;
  top: .4em;
  display: inline-block;
  vertical-align: top;
  content: '';
  width: .4em;
  height: .4em;
  transform: rotate(45deg);
  border-top: 0.15em solid #333;
  border-right: 0.15em solid #333; }

.icon-arrow-left {
  transform: rotate(-135deg); }

.icon-arrow-right {
  transform: rotate(45deg); }

.icon-menu, .icon-close {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background-color: #fff;
  text-align: center;
  background-color: #e5e5e5; }
.icon-menu:before, .icon-menu:after, .icon-close:before, .icon-close:after {
  position: absolute;
  left: 12px;
  top: 14px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000; }
.icon-menu:after, .icon-close:after {
  top: 21px;
  border-bottom: 0; }

.icon-close {
  background-color: #fff; }
.icon-close:before {
  display: none; }

.icon-avatar {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d8d8d8; }
.icon-avatar:before, .icon-avatar:after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: #545454;
  top: 30%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(-50%, 0, 0); }
.icon-avatar:after {
  z-index: 1;
  top: 64%;
  height: 70%;
  width: 69%; }

.icon-external {
  position: relative;
  top: 1px;
  z-index: 1;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #333; }
.icon-external:before, .icon-external:after {
  content: '';
  position: absolute;
  z-index: 2;
  right: -5px;
  top: -5px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #333;
  border-right: 2px solid #333; }
.icon-external:after {
  transform: rotate(45deg);
  z-index: 1;
  border-top: none;
  width: 0;
  height: 14px;
  right: 0px;
  top: -6px;
  outline: 2px solid #fff; }
.button .icon-external {
  margin-left: .4em; }
.button .icon-external, .button .icon-external:after, .button .icon-external:before {
  border-color: #fff; }
.button .icon-external:after {
  outline-color: #ec0000; }

.icon-regeling {
  position: relative;
  top: -2px;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  height: 10px;
  width: 16px; }
.icon-regeling:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  border-top: inherit; }
.icon-regeling:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 3px;
  top: -2px;
  bottom: -2px;
  width: 2px;
  background-color: #fff; }

.header {
  max-width: 1400px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 3rem; }
.header .container {
  position: relative;
  z-index: 100; }
@media (max-width: 900px) {
  .header {
    padding: 10px; } }

.logo {
  position: relative;
  display: inline-block;
  font-size: 2.3rem;
  line-height: 1;
  color: #ec0000;
  text-decoration: none;
  width: 6em;
  padding-left: 3rem;
  min-height: 3em;
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif; }
.logo i {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 1rem; }
.logo .icon-andreas {
  width: 2rem;
  height: 6.8rem; }
.logo strong {
  white-space: nowrap;
  color: #333;
  font-weight: normal; }
.logo:hover {
  color: #ec0000; }

.nav-container {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  text-align: right;
  margin-left: 17rem; }

.nav-login {
  display: inline-block;
  margin: 0; }
.nav-login .button {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #333;
  border-color: #333;
  padding: 1em 1em;
  margin: 0 0 0 1em;
  color: #fff; }
.nav-login .icon-avatar {
  top: -.2em;
  margin: 0 .2em; }

.nav {
  position: relative;
  z-index: 5;
  display: none; }
.nav.active, .nav:target {
  display: block; }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
.menu a {
  display: block;
  padding: 1em;
  min-width: 200px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  margin-bottom: 1px; }
.menu li:first-child a {
  margin-top: 4px; }
.menu .divider {
  margin-bottom: 4px; }
.menu .divider ~ li a {
  background-color: #f5f5f5;
  color: #333; }

.nav-open, .nav-close {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: right;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #333;
  border-color: #333;
  padding: 1em 1em;
  margin: 0 0 0 1em;
  color: #fff;
  width: 4em;
  text-align: center;
  padding-right: 40px; }
.nav-open .icon-menu, .nav-open .icon-close, .nav-close .icon-menu, .nav-close .icon-close {
  position: absolute;
  right: 0;
  top: -2px;
  background-color: transparent; }
.nav-open .icon-menu:before, .nav-open .icon-menu:after, .nav-open .icon-close:before, .nav-open .icon-close:after, .nav-close .icon-menu:before, .nav-close .icon-menu:after, .nav-close .icon-close:before, .nav-close .icon-close:after {
  border-color: #fff; }
.nav-open:hover, .nav-close:hover {
  color: #fff; }
@media (max-width: 900px) {
  .nav-open, .nav-close {
    padding-right: 35px; }
  .nav-open .icon-menu, .nav-open .icon-close, .nav-close .icon-menu, .nav-close .icon-close {
    top: -7px;
    right: -5px; } }

.nav-close {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: none; }
.nav-close:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.nav.active ~ .nav-close, .nav:target ~ .nav-close {
  display: block; }

.nav-top {
  position: fixed;
  z-index: 100;
  margin: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 3rem;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s; }
.nav-top a {
  display: inline-block;
  pointer-events: auto;
  width: 42px;
  height: 42px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 44px;
  transition: outline .3s;
  border: 1px solid #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  outline: 4000px solid transparent; }
.no-touch .nav-top a:hover {
  outline: 4000px solid rgba(0, 0, 0, 0.1);
  border-color: #333; }
@media (max-width: 900px) {
  .nav-top {
    left: auto;
    right: 1.5rem;
    top: auto;
    bottom: 1.5rem;
    transform: none; } }
.scrolled .nav-top {
  z-index: 100;
  opacity: 1; }

.nav-back {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 2.2rem;
  margin-bottom: 2.2rem; }
.nav-back a {
  color: #6db5d6;
  text-decoration: none; }
.nav-back a:hover {
  text-decoration: underline; }
.nav-back a i {
  border-color: #6db5d6; }

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 1.2em 2em 1em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #ec0000;
  color: #fff;
  border: 1px solid #ec0000;
  cursor: pointer; }
.button.full {
  text-align: center;
  width: 100%; }
.button.secondary {
  background-color: #000;
  border-color: #000; }
.button:hover {
  color: #fff; }

input[type="text"], input[type="date"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], select, textarea {
  width: 100%;
  line-height: 1;
  padding: 0 1em;
  min-height: 3em;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color .3s; }
input[type="text"]:hover, input[type="date"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="url"]:hover, select:hover, textarea:hover {
  border: 1px solid rgba(0, 0, 0, 0.4); }
input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.8); }

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0; }
input[type="checkbox"] + strong {
  position: relative;
  padding-left: 2em;
  margin: 0;
  line-height: 1.1;
  font-weight: normal; }
input[type="checkbox"] + strong:before, input[type="checkbox"] + strong:after {
  content: '';
  position: absolute;
  left: 0;
  top: -.1em; }
input[type="checkbox"] + strong:before {
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff; }
input[type="checkbox"] + strong:after {
  left: .25em;
  top: .1em;
  width: .8em;
  height: .4em;
  border-left: 0.2em solid #333;
  border-bottom: 0.2em solid #333;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all .1s; }
input[type="checkbox"]:checked + strong:after {
  opacity: 1; }

option {
  min-height: 2.75em; }

textarea {
  padding: 1em; }

legend {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2); }

fieldset {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 2.2rem;
  margin-bottom: 2.2rem; }

form .row {
  margin-bottom: 2.2rem; }
form .group {
  display: flex; }
form .group label {
  margin-right: 1em; }
form .group label:last-child {
  margin-right: 0; }
form label {
  cursor: pointer;
  display: block; }
form label strong {
  display: block;
  margin-bottom: 5px; }
form .choices {
  list-style: none;
  padding: 0;
  margin: -10px;
  margin-bottom: calc(2.2rem - 10px);
  display: flex;
  flex-wrap: wrap; }
form .choices li {
  flex-basis: 25%; }
form .choices strong {
  background-color: #f5f5f5;
  padding: 10px;
  padding-left: calc(10px + 2em);
  margin: 10px;
  transition: all .3s;
  border: 1px solid rgba(0, 0, 0, 0.1); }
form .choices strong:before, form .choices strong:after {
  margin-left: 10px;
  margin-top: 10px; }
form .choices label:hover strong {
  border: 1px solid rgba(0, 0, 0, 0.4); }

form.well .choices strong {
  background-color: #fff; }

.form-list {
  list-style: none;
  padding: 0;
  counter-reset: item; }
.form-list li:not(.item-deleted) > label:first-child > strong:after {
  counter-increment: item;
  content: " " counter(item); }

.form-list button, .form-list + button {
  padding: 0;
  margin: 0;
  color: #ec0000;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer; }
.form-list button:hover, .form-list + button:hover {
  color: #000; }

.form-list li {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height .3s;
  max-height: 1000px; }
.form-list li button {
  position: absolute;
  right: 0;
  top: 0; }
.form-list li.item-deleted {
  max-height: 0; }
.form-list li [name*="-DELETE"] {
  display: none; }

.buttons {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
.buttons > * {
  margin-right: 2em;
  margin-bottom: 0; }
.buttons.right {
  flex-direction: row-reverse; }
.buttons.right > * {
  margin-right: 0;
  margin-left: 2em; }
.buttons.right > a:not(.button) {
  padding: 1.2em 0 1em; }
.buttons .left {
  margin-right: auto;
  margin-left: 0; }
@media (max-width: 700px) {
  .buttons .left {
    margin-right: 0;
    margin-left: 2em; } }

.row-delete strong {
  display: inline; }
.row-delete .delete-confirm {
  display: none; }
.row-delete :checked ~ .delete-confirm {
  display: inline-block; }

.form-aside {
  float: right;
  width: 240px;
  box-sizing: border-box;
  margin: 0 0 2.2rem 3rem;
  background-color: #f5f5f5;
  font-size: 1.4rem; }
.form-aside p, .form-aside ul {
  margin-bottom: 1.5rem; }
.form-aside ul {
  list-style-type: '- ';
  margin-left: 1em;
  padding: 0; }
.form-aside p + ul {
  margin-top: -1.5rem; }
.form-aside .buttons {
  margin-bottom: 0; }
.well .form-aside {
  background-color: #fff;
  padding: 1.5rem; }
.form-aside:empty {
  opacity: 0; }
.form-aside + .inputs {
  margin-right: calc(240px + 3rem); }
@media (max-width: 900px) {
  .form-aside {
    float: none;
    width: auto;
    margin: 0 0 2.2rem 0; }
  .form-aside + .inputs {
    margin-right: 0; }
  .form-aside.well {
    padding: 10px; } }

.shortcuts {
  list-style: none;
  padding: 0;
  margin: 0 0 calc(2.2rem - 1em) 0;
  font-size: 0; }
.shortcuts li {
  display: inline; }
.shortcuts a {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #f5f5f5;
  min-width: 1em;
  height: 1em;
  line-height: 1;
  padding: 1em;
  margin: 0 1em 1em 0;
  text-decoration: none; }
.shortcuts a:hover {
  border-color: #333; }
.shortcuts a.disabled {
  opacity: .2;
  cursor: not-allowed; }
.shortcuts a.disabled:hover {
  border-color: #f5f5f5; }

.shortcut {
  padding-top: 2.2rem;
  line-height: 2.2rem; }

.tabs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0 0 2.2rem 0;
  border-bottom: 3px solid #e5e5e5; }
.tabs.tabs-center {
  justify-content: center; }
@media (max-width: 900px) {
  .tabs.tabs-center {
    justify-content: flex-start; } }
.tabs > li {
  margin-right: 4px; }
.tabs a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: #959595;
  padding: .7em 1.8em;
  transition: all .3s; }
.tabs a:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1em;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  pointer-events: none;
  opacity: 1;
  transition: all .3s; }
.tabs a:hover {
  background-color: #a2a2a2; }
.tabs a:hover:before {
  opacity: 0; }
.tabs a.active {
  background-color: #e5e5e5;
  color: #333; }
.tabs a.active:before {
  display: none; }
@media (max-width: 900px) {
  .tabs a {
    font-size: 1.6rem;
    padding: .6em 1em; } }

.sort {
  list-style: none;
  margin: 0 0 2.2rem 0;
  padding: 0;
  line-height: 1;
  background-color: #e5e5e5;
  padding: 0 .5em;
  display: flex;
  font-size: 1.4rem;
  min-height: 4em; }
.sort a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 1em 1em;
  margin: .5em 0;
  transition: background-color .3s; }
.sort a:hover {
  background-color: rgba(255, 255, 255, 0.4); }
.sort a.active {
  background-color: rgba(255, 255, 255, 0.8); }

.tabs + .sort {
  margin-top: -2.2rem;
  min-height: calc(4em - 3px); }
.tabs + .sort a {
  margin-top: calc(.5em - 3px); }

.systeem-berichten {
  background: #f5f5f5;
  padding: 3rem;
  list-style: none;
  margin: 0 auto 2.2rem auto;
  line-height: 1.2; }
.systeem-berichten ul {
  list-style: none;
  padding: 0;
  margin: 0; }
.systeem-berichten li {
  margin-bottom: .5em; }
.systeem-berichten > *:last-child, .systeem-berichten ul > li:last-child {
  margin-bottom: 0; }
.systeem-berichten.fout {
  background-color: rgba(255, 0, 0, 0.1); }
.systeem-berichten.goed {
  background-color: rgba(0, 128, 0, 0.1); }

hr {
  height: 1px;
  background-color: #dfdfdf;
  padding: 0;
  border: none;
  margin: 4.4rem 0; }

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2.2rem; }
.cards > * {
  box-sizing: border-box;
  padding-right: 2.2rem;
  flex-basis: 33.33%; }
@media (max-width: 1290px) {
  .cards > * {
    flex-basis: 50; } }
@media (max-width: 700px) {
  .cards > * {
    flex-basis: 100%; } }

.shortcut {
  font-size: 2.2rem;
  line-height: 1;
  padding: 2.2rem 0 0 0;
  margin: 0 0 .4em 0; }

.regelingen {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2.2rem;
  padding: 0; }

.regeling {
  position: relative;
  padding: 2rem;
  border: 1px solid #e2e2e2;
  margin-bottom: 2.2rem; }
.regeling .regeling-titel {
  background-color: #4c4c4c;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
  margin: -2rem -2rem 2rem -2rem;
  padding: 1.6rem 2rem;
  color: #fff;
  display: flex; }
.regeling .regeling-samenvatting {
  margin-bottom: 0; }
.regeling .icon-regeling {
  margin-right: .5em;
  top: 2px; }
.regeling .icon-regeling, .regeling .icon-regeling:before {
  border-color: #fff; }
.regeling .icon-regeling:after {
  background-color: #4c4c4c; }

.regeling-meta {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e2e2e2;
  line-height: 1; }
.regeling-meta li {
  position: relative;
  z-index: 2; }
.regeling-meta a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem -1rem;
  transition: all .3s; }
.regeling-meta a:hover {
  background-color: rgba(51, 51, 51, 0.05); }
.regeling-meta .regeling-link {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0; }
.regeling-meta .regeling-link a {
  margin: 0;
  display: block;
  height: 100%;
  padding: 0; }
.regeling .regeling-meta {
  margin-bottom: -2rem; }

.regeling-title {
  margin: 0 0 .8em 0;
  font-size: 2.4rem;
  font-weight: 700; }
.regeling-title .regeling-edit {
  position: relative;
  z-index: 10;
  top: .1em;
  float: right;
  margin-left: 1em;
  font-size: .8em;
  font-weight: 400; }
.regeling-title .regeling-edit a {
  text-decoration: none; }
.regeling-title:hover .regeling-edit {
  opacity: .6; }
.regeling-title .regeling-edit:hover {
  opacity: 1; }

.regeling-edit {
  opacity: .1;
  transition: opacity .3s; }

.regeling-detail {
  position: relative;
  padding-left: 130px; }
.regeling-detail p, .regeling-detail li {
  max-width: 45em; }
@media (max-width: 900px) {
  .regeling-detail {
    padding-left: 0; } }

.regeling-voorwaarden {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0 0 2.2rem 0;
  counter-reset: item; }
.regeling-voorwaarden li {
  position: relative;
  padding-left: 44px;
  padding-right: 150px;
  max-width: none; }
.regeling-voorwaarden li:before {
  position: absolute;
  left: 0;
  top: -4px;
  counter-increment: item;
  content: counter(item);
  min-width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  text-align: center; }
@media (max-width: 900px) {
  .regeling-voorwaarden li {
    padding-right: 110px; } }
.regeling-voorwaarden li {
  margin-bottom: 2.2rem; }

.regeling-details {
  margin-bottom: 6.6rem; }

.regeling-samenvatting {
  margin-bottom: 4.4rem; }

.regeling-progress {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  background-color: gainsboro; }
.regeling-progress .result {
  position: absolute;
  z-index: 3;
  line-height: 80px;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -.05em;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  border-radius: 50%;
  color: rgba(51, 51, 51, 0.3);
  transition: all .3s;
  transition-delay: .3s; }
.regeling-progress .result:after {
  content: '%';
  display: inline-block;
  font-size: .6em;
  font-weight: normal;
  opacity: .6;
  width: .5em;
  margin-left: .1em;
  vertical-align: baseline; }
.regeling-progress .yes-1, .regeling-progress .yes-2, .regeling-progress .no-1, .regeling-progress .no-2 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 88px, 88px, 44px);
  transform: rotate(360deg); }
.regeling-progress .yes-1 span, .regeling-progress .yes-2 span, .regeling-progress .no-1 span, .regeling-progress .no-2 span {
  position: absolute;
  margin-left: -44px;
  width: 88px;
  height: 88px;
  clip: rect(0, 44px, 88px, 0);
  border-radius: 50%;
  background-color: #8ac640;
  transform: rotate(0); }
.regeling-progress .yes-2, .regeling-progress .no-2 {
  clip: rect(0, 44px, 88px, 0); }
.regeling-progress .yes-2 span, .regeling-progress .no-2 span {
  transform: rotate(-180deg); }
.regeling-progress .no-1, .regeling-progress .no-2 {
  z-index: 1; }
.regeling-progress .no-1 span, .regeling-progress .no-2 span {
  background-color: #ff9191; }
.regeling-progress.started .result {
  color: #333333; }
.regeling-progress.complete-yes .result {
  color: #8ac640; }
.regeling-progress.complete-no .result {
  color: #ff9191; }
.regeling-detail .regeling-progress {
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  display: block;
  top: 3rem;
  margin-left: -130px;
  margin-bottom: -55px; }
@media (max-width: 900px) {
  .regeling-detail .regeling-progress {
    top: 1.5rem;
    margin: 2.2rem auto;
    overflow: visible; } }
.regeling-detail .regeling-progress:before {
  content: '';
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
  right: -1.5rem;
  bottom: -1.5rem;
  border-radius: 50%;
  opacity: .8;
  background-color: #fff;
  transition: all 2s; }

.regeling-voorwaarde-yesno {
  position: absolute;
  right: 0;
  top: -.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.regeling-voorwaarde-yesno input {
  position: absolute;
  left: -1000px;
  opacity: 0; }
.regeling-voorwaarde-yesno label {
  cursor: pointer;
  padding: .5em 0;
  display: inline-block;
  border-radius: 3px 0 0 3px;
  width: 3.5em;
  text-align: center;
  color: #000;
  background-color: #ebeaea;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all .3s; }
.regeling-voorwaarde-yesno label ~ label {
  border-radius: 0 3px 3px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2); }
.regeling-voorwaarde-yesno [for*="-yes"]:hover {
  background-color: #deefc9; }
.regeling-voorwaarde-yesno [for*="-no"]:hover {
  background-color: #ffdede; }
.regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-no"] {
  background-color: #ff9191;
  color: #fff; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-yes"] {
  background-color: #8ac640;
  color: #fff; }
.regeling-voorwaarde-yesno [for*="-initial"] {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  width: 50%;
  background-color: #000;
  opacity: 0;
  overflow: hidden; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-initial"], .regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-initial"] {
  display: block; }
.regeling-voorwaarde-yesno [id*="-yes"]:checked ~ [for*="-initial"] {
  left: 0; }
.regeling-voorwaarde-yesno [id*="-no"]:checked ~ [for*="-initial"] {
  right: 0; }

.input-volgorde, .input-delete {
  opacity: 0;
  position: absolute;
  left: -1000px; }

.group .input-contact {
  flex-basis: 50%; }
.group .input-rol {
  flex-basis: 50%;
  margin-right: 0; }

.regeling-more {
  display: none;
  margin: 0; }
.regeling-more a {
  text-decoration: none;
  font-weight: bold; }
.regeling-more a:before {
  content: attr(data-more); }
.regeling-more a:after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(236, 0, 0, 0); }
.active .regeling-more a:before {
  content: attr(data-less); }
.active .regeling-more a:after {
  background-color: rgba(236, 0, 0, 0.02); }
.regeling-more a:hover:after {
  background-color: rgba(236, 0, 0, 0.05); }

.regeling-aanvragen {
  margin: 0 0 2.2rem 0;
  background-color: #f5f5f5;
  padding: 3rem; }

.complete-yes ~ .regeling-aanvragen {
  background-color: #f6fbf1; }
.complete-yes ~ .regeling-aanvragen .button {
  background-color: #8ac640;
  border-color: #8ac640; }
.complete-yes ~ .regeling-aanvragen .button .icon-external:after {
  outline-color: #8ac640; }

.contacten {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2.2rem;
  padding: 0; }

.contact-naam strong:after, dt.contact-naam + dd strong:after {
  content: ', '; }
.contact-naam strong:last-child:after, dt.contact-naam + dd strong:last-child:after {
  content: ''; }

.contact-avatar {
  width: 100%;
  margin: 0 auto 2.2rem;
  padding: 0; }
.contact-avatar span {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: 50% 50%; }
.contact-avatar span[style*="background-image"]:before, .contact-avatar span[style*="background-image"]:after {
  display: none; }

.contact {
  position: relative;
  padding: 2rem 2rem;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
.contact dt.contact-naam {
  display: none; }
.contact dt.contact-functie, .contact dt.contact-organisatie, .contact dt.contact-rol {
  display: none; }
.contact dt.contact-functie + dd, .contact dt.contact-organisatie + dd, .contact dt.contact-rol + dd {
  color: rgba(51, 51, 51, 0.8); }
.contact .contact-naam, .contact dt.contact-naam + dd {
  line-height: 1;
  font-size: 2.4rem;
  margin: 0 0 .5em 0; }
.contact .contact-avatar {
  width: 8rem;
  position: absolute;
  right: 2rem;
  top: 2rem; }
.contact .contact-meta {
  margin-bottom: 0;
  width: 100%; }

dl.contact-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.8rem; }
dl.contact-meta dd {
  padding-right: 1em; }
dl.contact-meta .contact-naam + dd, dl.contact-meta .contact-organisatie + dd, dl.contact-meta .contact-functie + dd, dl.contact-meta .contact-rol + dd {
  flex-basis: 100%;
  min-height: 1em; }
dl.contact-meta .contact-email, dl.contact-meta .contact-telefoon {
  display: none; }
dl.contact-meta .contact-email + dd, dl.contact-meta .contact-telefoon + dd {
  font-size: 1.6rem;
  margin-top: 2.2em;
  position: relative;
  padding-top: 2.2rem; }
dl.contact-meta .contact-email + dd:before, dl.contact-meta .contact-telefoon + dd:before {
  content: attr(data-label);
  position: absolute;
  font-weight: 700;
  left: 0;
  top: 0; }
dl.contact-meta .contact-email + dd:after, dl.contact-meta .contact-telefoon + dd:after {
  content: '';
  position: absolute;
  left: 0;
  top: -1em;
  width: 100vw;
  height: 1px;
  background-color: #e2e2e2; }
dl.contact-meta a {
  text-decoration: none; }

.themas {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2.2rem;
  padding: 0; }

.thema {
  position: relative;
  padding: 2rem;
  border: 1px solid #e2e2e2;
  margin-bottom: 2.2rem; }

.thema-titel {
  font-size: 2.4rem;
  font-weight: 700;
  margin: -2rem -2rem 2rem -2rem;
  padding: 1.6rem 2rem;
  background-color: #f5f5f5; }

.thema-meta {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-top: 1px solid #e2e2e2;
  line-height: 1; }
.thema-meta li {
  position: relative;
  z-index: 2; }
.thema-meta a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem -1rem;
  transition: all .3s; }
.thema-meta a:hover {
  background-color: rgba(51, 51, 51, 0.05); }
.thema-meta .thema-link {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0; }
.thema-meta .thema-link a {
  margin: 0;
  display: block;
  height: 100%;
  padding: 0; }
.thema .thema-meta {
  margin-bottom: -2rem; }

.login {
  position: relative;
  max-width: 45em;
  margin: 0 auto;
  padding: 3rem;
  background-color: #f5f5f5; }
.login fieldset {
  padding: 0;
  border: none; }
.login > *:last-child {
  margin-bottom: 0; }

.login-create {
  text-decoration: none; }
.login-create u {
  text-decoration: underline; }
.login .login-create {
  font-size: 1.4rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  margin-top: -.8em; }
@media (max-width: 700px) {
  .login .login-create {
    position: static;
    margin: 0 0 0 2em;
    font-size: inherit; } }

/*# sourceMappingURL=screen.css.map */
