*.pyc
*.mo
*.po
*.py[co]
*.sw[po]
*.egg*
*.log
*.db
*.pid
db/
*.DS_Store
.idea
.idea/*
pip-log.txt
local_settings.py
*/settings/local.py
.sass-cache
.bundle
media/*
node_modules
celerybeat-schedule
#static/*
/jeugdzorg/static/
/jeugdzorg/jeugdzorg/search_files/*
/jeugdzorg/jeugdzorg/media/
/jeugdzorg/media/
/jeugdzorg/jeugdzorg/settings/local.py