*.pyc
*.mo
*.po
*.py[co]
*.sw[po]
*.egg*
*.log
*.db
db/
*.DS_Store
.idea
.idea/*
pip-log.txt
local_settings.py
*/settings/local.py
.sass-cache
.bundle
media/*
node_modules
static/*
celerybeat-schedule
