.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$lineHeight / 2;
  margin-right: -$lineHeight / 2;
  margin-top: -$lineHeight / 2;
  margin-bottom: $lineHeight / 2;
  > * {
    padding: $lineHeight / 2;
    overflow: hidden;
    flex-basis: calc(33.33% - #{$lineHeight});
    overflow: hidden;
    @include large {
      flex-basis: calc(50% - #{$lineHeight});
    }
    @include small {
      flex-basis: calc(100% - #{$lineHeight});
    }
  }
}