.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$lineHeight;
  > * {
    box-sizing: border-box;
    padding-right: $lineHeight;
    margin-bottom: $lineHeight;
    flex-basis: 33.33%;
    @include large {
      flex-basis: 50;
    }
    @include small {
      flex-basis: 100%;
    }
  }
}