.contacten {
  position: flex;
  flex-wrap: wrap;
  margin-right: -$lineHeight;
  list-style: none;
  padding: 0;
  margin: 0 (-$lineHeight) $lineHeight 0;
}
.contact {
  flex-basis: 50%;
  background: #f8f8f8;
  padding: $padding;
  margin-bottom: $lineHeight;
  margin-right: $lineHeight;
}

.contact-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid rgba(#000, .2);
  background-color: #fff;
  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 0;
  }
}