.contacten {
  list-style: none;
  padding: 0;
  .contact {
    margin-bottom: 0;
    min-height: 100%;
  }
}
.contact-naam,
dt.contact-naam + dd {
  strong {
    &:after {
      content: ', ';
    }
  }
  strong:last-child {
    &:after {
      content: '';
    }
  }
}

.contact-avatar {
  position: relative;
  
  width: 100%;
  margin: 0 auto $lineHeight;
  padding: 0;
  
  span {
    position: relative;
    
    width: 100%;
    height: 0;
    padding-top: 100%;
    
  }
}

.contact {
  
  position: relative;
  transition: margin .3s;
  z-index: 1;
  
  padding: 2rem;
  box-sizing: border-box;
  background-color: $lightColor;
  box-shadow: 0 1px 3px 0 rgba(#000, .2);
  
  dl {
    font-size: 0;
  }
  
  dt {
    font-size: 0;
    display: block;
  }
  dd {
    display: inline;
    font-size: $fontSize;
  }
  dd + dd {
    &:before {
      content: ', ';
    }
  }
  
  
  dt.contact-naam + dd {
    font-size: 1.8rem;
  }
  .contact-avatar {
    position: absolute;
    right: 2rem;
    top: 2rem;
    
    width: 8rem;
    
    [data-view="normaal"] & {
      transition: width .3s;
    }
  }
  
  dt.contact-functie {
    & + dd {
      font-style: italic;
    }
  }
  dt.contact-email,
  dt.contact-telefoon {
    & + dd {
      &:before {
        content: '';
      }
    }
  }
  dt.contact-email {
    margin-top: $lineHeight;
    &:first-child {
      margin-top: 0;
    }
  }
  
  .contact-meta {
    margin-bottom: 0;
    padding-right: 10rem;
    min-height: 8rem;
    transition: all .3s;
  }
  &:after {
    content: '';
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
  }
  .icon-mail, .icon-phone {
    transform: scale(.8);
    opacity: .8;
  }
  a:hover {
    .icon-mail, .icon-phone {
      opacity: 1;
    }
  }
  
  .contact-meer-details {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    background-color: rgba($textColor, 0);
    transition: background-color .3s;
    
    text-decoration: none;
    
    &:hover {
      background-color: rgba($textColor, 0.05);
    }
    
    &:before {
      content: '×';
      
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center;

      font-size: 4rem;
      font-weight: 700;
      
      opacity: 0;
      transition: all .3s;
    }
  }
  &.active {
    z-index: 2;
    margin-right: -10rem;
    .contact-meta {
      padding-right: 20rem;
      min-height: 13rem;
    }
    .contact-avatar {
      width: 14rem;
//      right: 5rem;
    }
    .contact-meer-details {
      left: auto;
      width: 44px;
      height: 44px;
      &:before {
        opacity: 1;
      }
      &:hover {
        background-color: rgba($textColor, 0);
        &:before {
          color: $accentColor;
        }
      }
      
    }
  }
}
.js .contact-extended {
  max-height: 0;
  padding-top: 0;
  overflow: hidden;
  transition: all .3s;
//  transition-delay: .4s;
  z-index: 3;
}
.js .active {
  .contact-extended {
    padding-top: 3rem;
    max-height: 2000px;
  }
}
dl.contact-meta {
  a {
    position: relative;
    z-index: 3;
    text-decoration: none;
    background-color: rgba($textColor, 0);
    transition: all .3s;
    display: inline-block;
    box-sizing: border-box;
    padding: .4em .6em;
    margin: -.2em -.6em;
    
    transition: all .3s;
    
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover {
      z-index: 4;
      background-color: rgba($textColor, .05);
    }
  }
}
dl.contact-extended {
  position: relative;
  z-index: 2;

  line-height: 1.2;
  @extend .bold !optional;
  
  margin: 0 -1rem 0 0;
  
  box-sizing: border-box;
  padding-top: 3rem;
  
  &:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 3rem;
    border-bottom: 1px solid $borderColor;
  }
  
  a {
    display: block;
    background-color: rgba($textColor, .1);
    padding: .4em .6em;
    text-decoration: none;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: rgba($textColor, 1);
    }
  }
  dt {
    display: block;
    text-transform: capitalize;
    font-size: $fontSize;
    margin-top: 3rem;
  }
  dd {
    font-size: $fontSmallSize;
    display: inline-block;
    margin: 1rem 1rem 0 0;
    &:before {
      display: none;
    }
  }
  .contact-regeling ~ dd {
    display: block;
  }
}

.contact-avatar-controls {
  font-size: 0;
  
  label[for*="clear"] {
    position: absolute;
    right: -$padding / 2;
    top: -$padding / 2;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;

    &:before {
      content: '×';
      font-size: 4rem;
      font-weight: 700;
    }
  }
  
  input[name*="clear"]:checked ~ label {
    color: red;
  }
  input[name*="clear"]:checked ~ {
    .contact-avatar-upload,
    input[type*="file"] {
      display: none;
    }
  }
  
  input[type*="file"],
  .contact-avatar-upload {
    position: absolute;
    z-index: 2;
    opacity: 0;
    
    cursor: pointer;
    
    bottom: calc(-#{$lineHeight} - 1.5em);
    left: -$padding / 2;
    right: -$padding / 2;
    padding: $padding / 2;
    
  }
  
  .contact-avatar-upload {
    opacity: 1;
    text-align: center;
    font-size: $fontSmallSize;
    font-weight: bold;
    bottom: -1.5em;
    pointer-events: none;
  }
}
.contact-acties {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-status {
  
  display: flex;
  
  line-height: 1;
  
  [type="checkbox"] + strong {
    padding-left: calc(10px + 2em);
  }
  
  strong {
    background-color: rgba(red, .2);
    padding: 10px;
    font-weight: 700;
    
    margin: 10px;
    transition: all .3s;
    
    &:before, &:after {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  
  :checked + strong {
    background-color: rgba(green, .8);
    color: #fff;
  }
  
  .well & {
    position: absolute;
    z-index: 10;
    right: $padding;
    top: 2.2rem;
    @include medium {
      position: relative;
      right: auto;
      top: auto;
    }
  }
  
  

  .help {
    position: absolute;
    right: 0;
    top: calc(#{$fontSize} + 20px);
    width: 300px;
    margin-top: 4px;
    outline: 10000px solid rgba(#000, 0);
    &.active, &:target {
      outline: 10000px solid rgba(#000, .2);
    }
  }

}

.contact-status-help {
  position: relative;
  z-index: 1;
  display: block;

  background-color: #000;
  color: #fff;
  width: calc(#{$fontSize} + 20px);
  height: calc(#{$fontSize} + 20px);
  border: 1px solid rgba(#000, .1);

  font-size: 0;
  text-align: center;

  margin-left: 2px;
  
  opacity: .4;
  transition: all .3s;

  &:before {
    font-size: 1.4rem;
    font-weight: bold;
    content: '?';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
  }
  &:hover {
    opacity: 1;
  }
  &:hover:before {
    background-color: #fff;
  }
  &.active, :target + & {
    opacity: 1;
    &:before {
      content: '×';
      color: $textColor;
      background-color: #fff;
    }
  }
}

.contact-ken-ik {
  display: none;
}


[data-view="compact"] {
  .overzicht {
    .contacten {
      display: inline;
      margin: 0;
      li {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }
    .contact {
      padding: 0;
      margin: 0;
      background: none;
      box-shadow: none;
      min-height: auto;
      padding-left: 1.4em;
    }
    .contact-meta {
      min-height: auto;
      padding-right: 0;
      a {
        padding: 0;
        margin: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .contact .contact-acties {
      display: none;
    }
    .contact .contact-avatar {
      left: 0;
      top: -.1em;
      margin: 0;
      right: auto;
      width: 1em;
    }
    .contact dd {
      font-size: $fontSize;
      display: none;
    }
    .contact dt:first-child + dd {
      display: block;
    }
    dt.contact-email {
      margin-top: 0;
    }
    
  }
}