body {
  padding: 0;
}
.container {
  max-width: $maxContentWidth;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  &.container-small {
    max-width: 45em;
  }
}
.main {
  max-width: $maxWidth;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  padding: $padding;
  @include medium {
    padding: 10px 10px (44px + 10px) 10px;
  }
  
}

.columns {
  columns: 4;
  -moz-column-fill: balance;
  column-fill: balance;
  
  margin-right: -1em;
  transform: translate3d(0,0,0);
  .group {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    display:table;
    margin-right: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 $lineHeight 0;

    a {
      display: block;
      text-decoration: none;
      line-height: 1.2;
      margin-bottom: .5em;
    }

  }
  
  @include large {
    columns: 3;
  }
  @include medium {
    columns: 2;
  }
  @include small {
    columns: 1;
  }
  
  
}