.login {
  position: relative;
  
  max-width: 45em;
  margin: 0 auto;
  padding: $padding;
  background-color: $lightColor;
  
  fieldset {
    padding: 0;
    border: none;
  }
  
  > *:last-child {
    margin-bottom: 0;
  } 
  
}

.login-create {
  text-decoration: none;
  u {
    text-decoration: underline;
  }
  .login & {
    font-size: 1.4rem;
    position: absolute;
    right: $padding;
    top: $padding;
    margin-top: -.8em;
    @include small {
      position: static;
      margin: 0 0 0 2em;
      font-size: inherit;
    }
  }
}