.header {
  max-width: $maxWidth;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  padding: $padding;
  
  .container {
    position: relative;
    z-index: 100;
  }
  
  @include medium {
    padding: 10px;
  }

}

.logo {
  position: relative;
  display: inline-block;

  font-size: 2.3rem;
  line-height: 1;
  color: $accentColor;

  text-decoration: none;
  width: 6em;
  padding-left: 3rem;
  min-height: 3em;

  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;

  i {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 1rem;
  }
  .icon-andreas {
    width: 2rem;
    height: 6.8rem;
  }
  
  strong {
    white-space: nowrap;
    color: $textColor;
    font-weight: normal;
  }
  &:hover {
    color: $accentColor;
  }
}

.nav-container {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  text-align: right;
  margin-left: 17rem;
}

.nav-login {
  display: inline-block;
  margin: 0;
  .button {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $textColor;
    border-color: $textColor;
    padding: 1em 1em;
    margin: 0 0 0 1em;
    color: #fff;
  }
  .icon-avatar {
    top: -.2em;
    margin: 0 .2em;
  }
  a {
    text-decoration: none;
  }
}

.nav {
  position: relative;
  z-index: 5;
  display: none;
  &.active,
  &:target {
    display: block;
  }
  
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  a {
    display: block;
    padding: 1em;
    min-width: 200px;
    text-decoration: none;
    background-color: $textColor;
    color: #fff;
    margin-bottom: 1px;
  }
  li:first-child a {
    margin-top: 4px;
  }
  .divider {
    margin-bottom: 4px;
  }
  .divider ~ li a {
    background-color: $lightColor;
    color: $textColor;
  }
}

.nav-open, .nav-close {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  overflow: hidden;
  text-align: right;
  text-decoration: none;
  margin-bottom: 10px;
  
  font-size: 1.2rem;
  font-weight: 700;
  background-color: $textColor;
  border-color: $textColor;
  padding: 1em 1em;
  margin: 0 0 0 1em;
  color: #fff;
  width: 4em;
  text-align: center;
  
  padding-right: 40px;
  
  .icon-menu, .icon-close {
    position: absolute;
    right: 0;
    top: -2px;
    background-color: transparent;
    &:before, &:after {
      border-color: #fff;
    }
  }
  &:hover {
    color: #fff;
  }
  @include medium {
    padding-right: 35px;
    .icon-menu, .icon-close {
      top: -7px;
      right: -5px;
    }
    
  }
  
}
.nav-close {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: none;
  &:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000, .2);
  }
}
.nav.active ~ .nav-close,
.nav:target ~ .nav-close {
  display: block;
}

.nav-top {
  
  position: fixed;
  z-index: 100;
  
  margin: 0;
  
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  top: $padding;
  
  max-width: $maxContentWidth;
  width: 100%;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  text-align: right;
  
  pointer-events: none;
  
  a {
    display: inline-block;
    
    pointer-events: auto;
    
    width: 42px;
    height: 42px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 44px;
    
    transition: outline .3s;
    
    border: 1px solid $lightColor;
    text-align: center;
    text-decoration: none;
    
    background-color: #fff;
    
    outline: 4000px solid rgba(#000, 0);
    
    .no-touch &:hover {
      outline: 4000px solid rgba(#000, .1);
      border-color: $textColor;
    }
    
  }
  
  @include medium {
    left: auto;
    right: $padding / 2;
    top: auto;
    bottom: $padding / 2;
    transform: none;
  }
  
  
  
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  
  
  .scrolled & {
    z-index: 100;
    opacity: 1;
  }
  
}

.nav-back {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: $lineHeight;

  margin-bottom: $lineHeight;
  
  a {
    color: $brandColor2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    i {
      border-color: $brandColor2;
    }
  }
  
}
