.regelingen {
  list-style: none;
  padding: 0;
  .regeling {
    min-height: 100%;
    margin-bottom: 0;
  }
}

.regeling {
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid $borderColor;
  margin-bottom: $lineHeight;
  
  background-color: #fff;
  
  display: flex;
  flex-flow: column;
  .regeling-titel {
    background-color: #4c4c4c;
    font-size: $fontSize;
    line-height: 1.2;
    font-weight: 700;
    margin: -2rem -2rem 2rem -2rem;
    padding: 1.6rem 2rem;
    color: #fff;
    
    display: flex;
    
  }
  .regeling-samenvatting {
    margin-bottom: 0;
    flex-grow: 1;
  }
  .icon-regeling {
    margin-right: .5em;
    top: 3px;
    &, &:before {
      border-color: #fff;
    }
    &:after {
      background-color: #4c4c4c
    }
  }
}
.regeling-meta {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-top: 1px solid $borderColor;
  line-height: 1;
  li {
    position: relative;
    z-index: 2;
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem -1rem;
    
    transition: all .3s;
    &:hover {
      background-color: rgba($textColor, .05);
    }
  }
  .regeling-link {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    font-size: 0;
    
    
    a {
      margin: 0;
      display: block;
      height: 100%;
      padding: 0;
    }
  }
  .regeling & {
    margin-bottom: -2rem;
  }
  
}


.regeling-title {
  margin: 0 0 .8em 0;
  font-size: 2.4rem;
  font-weight: 700;

  .regeling-edit {
    position: relative;
    z-index: 10;
    top: .1em;
    float: right;
    margin-left: 1em;
    font-size: .8em;
    font-weight: 400;
    a {
      text-decoration: none;
    }
  }
  &:hover .regeling-edit {
    opacity: .6;
  }
  .regeling-edit:hover {
    opacity: 1;
  }
}

.regeling-edit {
  opacity: .1;
  transition: opacity .3s;
}
.regeling-detail {
  position: relative;
  p, li {
    max-width: 45em;
  }
}

.regeling-voorwaarden {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0 0 $lineHeight 0;
  counter-reset: item;
  li {
    position: relative;
    padding-left: 44px;

    &:before {
      position: absolute;
      left: 0;
      top: -4px;
      
      counter-increment: item;
      content: counter(item);

      min-width: 30px;
      height: 30px;

      background-color: $textColor;
      color: #fff;

      font-weight: 700;
      line-height: 30px;
      text-align: center;
    }
  }
  
  li {
    margin-bottom: $lineHeight;
  }
}

.regeling-details {
  margin-bottom: 3 * $lineHeight;
}

.regeling-samenvatting {
  margin-bottom: 2 * $lineHeight;
}

.input-volgorde,
.input-delete {  
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.group {
  .input-contact {
    flex-basis: 50%;
  }
  .input-rol {
    flex-basis: 50%;
    margin-right: 0;
  }
}


.regeling-more {
  display: none;
  margin: 0;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:before {
    content: attr(data-more);
  }
  a:after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($accentColor, 0);
    
//    transition: all .1s;
  }
  .active & {
    a:before {
      content: attr(data-less);
    }
    a:after {
      background-color: rgba($accentColor, .02);
    }
    
  }
  a:hover:after {
    background-color: rgba($accentColor, .05);
  }
}

.regeling-aanvragen {
  margin: 0 0 $lineHeight 0;
  background-color: $lightColor;
  padding: $padding;
}

.regeling-annuleren {
  display: none;
  .changed & {
    display: inline-block;
  }
}

.ik-weet-hier-iets-over {
  line-height: 1.2;
  padding-left: $padding + 3rem;
  strong {
    display: block;
  }
  .icon-avatar {
    position: absolute;
    left: $padding / 2;
    top: $padding / 2;
  }
  .icon-arrow-right {
    top: .3em;
  }
}

.ik-weet-hier-iets-over.active {
  background-color: rgba(green, .1);
}


[data-view="compact"] {
  .overzicht {
    .regelingen {
      display: inline;
      margin: 0;
      li {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }
    .regeling {
      padding: 0;
      margin: 0;
      border: none;
      .regeling-meta {
        margin: 0;
        border: none;
      }
      .regeling-samenvatting,
      .regeling-meta li {
        display: none;
      }
      .regeling-meta .regeling-link {
        display: block;
        &:before {
          display: none;
        }
        a:hover {
          background-color: transparent;
        }
      }
      .regeling-titel {
        color: $textColor;
        padding: 0 0 .5em 0;
        margin: 0;
        background-color: transparent;
        font-size: $fontSize;
        i {
          &, &:before {
            border-color: $textColor;
          }
          &:after {
            background-color: #fff;
          }
          @include medium {
            top: 0px;
          }
        }
      }
    }
  }
}

.aside-block.regeling-aanvraag {
  background-color: #fde5e5;
  font-weight: 700;
  .icon-external {
    margin-left: .5em;
  }
  .icon-external::after {
    outline-color: #fde5e5;
  }
}

.regeling-detail {
  > .cards:last-child {
    margin-bottom: -1.1rem;
  }
}