.zoeken {
  
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  
  width: 100%;
  max-width: 300px;
  
  padding: $padding;
  margin: -$padding;
  
  transition: max-width .3s $transition-ease-default;
  
  legend {
    display: none;
  }

  label strong {
    position: absolute;
    left: 0;
    top: 1.2rem;
    left: 2rem;
    font-size: 0;
    .icon-search {
      display: none;
      &:before, &:after {
        border-color: $textColor;
      }
    }
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  label {
    width: 100%;
  }
  .group label {
    margin: 0;
  }
  input {
    padding: 0 1em;
    min-height: 4rem;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    &:focus {
      border-color: $textColor;
    }
    
  }
  input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
    
  }
  .zoeken-button {
    pointer-events: none;
  }
  .zoeken-button,
  .zoeken-annuleren {
    flex-shrink: 0;
    border: none;
    background-color: $textColor;
    color: #fff;
    font-size: 0;
    width: 4rem;
    cursor: pointer;
  }
  .zoeken-annuleren {
    
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    display: none;
    background-color: transparent;
  
  }
  .icon-search-close {
    top: -.2rem;
  }
  @include large {
    max-width: 200px;
  }
  @include medium {
    max-width: 140px;
  }
  @include small {
//    margin-top: -$padding/ 2;
    max-width: none;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: -10px;
    position: static;
  }

}

.zoeken-container {

  display: none;
  margin-top: 2 * $lineHeight;
  [data-model] {
    margin-bottom: 2 * $lineHeight;
  }
  [data-model]:before {
    content: attr(data-model) ' (' attr(data-resultcount) ')';
    display: block;
    
    @extend .big !optional;
    @extend .bold !optional;
    
    padding-bottom: $padding / 2;
    margin-bottom: $padding;
    border-bottom: 1px solid $lightColor;
    padding-top: 12rem;
    margin-top: -11rem;
    @include medium {
      padding-top: 12rem;
      margin-top: -11rem;
      
    }
    @include small {
      padding-top: 8rem;
      margin-top: -7rem;
    }
    
  }
  
}

.zoeken-verberg {
  display: none !important;
}

[data-resultcount="0"] {
  display: none;
}

.search-mode {
  .main {
    display: none;
  }
  .tabs, .sort-container {
    display: none;
  }
  .page-footer {
    display: none;
  }
  .zoeken {
    
    z-index: 202;
    background-color: #fff;
    
    max-width: $maxContentWidth;
    
    background-color: #fff;
    
    &:before {
//      display: none;
      content: '';
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 0;
      top: 0;
      
      background-color: #fff;
      
      box-shadow: 0 3px 2px 0 rgba(0,0,0,.2);
      opacity: 0;
      
      transition: opacity .3s $transition-ease-default;
      
    }
    
  }
  
  .tabs-container {
    
    
    position: -webkit-sticky;
    position: sticky;
    
    z-index: 4;
    top: $padding;
    @include small {
      top: 0;
    }
  }
  input {
    padding-left: 5rem;
  }
  .zoeken-container {
    display: block;
    max-width: $maxWidth;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 5rem;
    

    padding: $padding;
    @include medium {
      margin-top: 6rem;
      padding: 10px 10px (44px + 10px) 10px;
    }
    @include small {
      margin-top: 1rem;
    }
    
  }
  .nav-top {
    display: none;
  }
  &.scrolled {
    .zoeken {
      &:before {
        opacity: .2;
      }
//      top: 0;
//      left: 50%;
//      transform: translate3d(-50%, 0, 0);
    }
  }
  label strong .icon-search {
    display: block;
  }
  .zoeken-button {
    display: none;
  }
  .zoeken-annuleren {
    display: block;
  }
}

.search-empty {
  max-width: 400px;
  text-align: center;
  margin: 2 * $padding auto;
  padding: $padding / 2;
  display: none;
}

[data-totalresultcount="0"] {
  .search-empty {
    display: block;
  }
  .zoeken-panes {
    display: none;
  } 
}

.zoeken-container .container {
  display: flex;
  flex-flow: column;
}

.zoeken-regeling .regeling-lijst {
  order: -1;
}
.zoeken-thema .thema-lijst {
  order: -1;
}

.zoeken-panes {
  list-style: none;
  padding: 0;
  max-width: $maxContentWidth;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $lineHeight;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
    &:after {
      content: attr(data-model) ' (' attr(data-resultcount) ')';
    }
    &[data-resultcount="0"] {
      opacity: .5;
    }
  }
}