.zoeken {
  padding: $padding / 2;
  outline: $padding / 2 solid rgba(#fff, 0);
  
  position: absolute;
  z-index: 100;
  right: -$padding / 2;
  top: -$padding / 2;
  
  width: 100%;
  max-width: 300px;
  
  transition: max-width .3s $transition-ease-default;
  
  legend {
    display: none;
  }

  label strong {
    position: absolute;
    left: 0;
    top: 1.2rem;
    left: 2rem;
    font-size: 0;
    .icon-search {
      display: none;
      &:before, &:after {
        border-color: $textColor;
      }
    }
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  label {
    width: 100%;
  }
  .group label {
    margin: 0;
  }
  input {
    padding: 0 1em;
    min-height: 4rem;
    &:focus {
      border-color: $textColor;
    }
    
  }
  input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
    
  }
  .zoeken-button {
    pointer-events: none;
  }
  .zoeken-button,
  .zoeken-annuleren {
    flex-shrink: 0;
    border: none;
    background-color: $textColor;
    color: #fff;
    font-size: 0;
    width: 4rem;
    cursor: pointer;
  }
  .zoeken-annuleren {
    
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    display: none;
    background-color: transparent;
  
  }
  .icon-search-close {
    top: -.2rem;
  }

}



.zoeken-container {
  
  position: fixed;
  z-index: 201;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(#b5daea, .9);
  
  
  border: none;
  padding: 0;
  padding: 24rem $padding $padding $padding;


  display: none;
  
  [data-model]:before {
    content: attr(data-model) ' (' attr(data-resultcount) ')';
    display: block;
    
    @extend .big !optional;
    @extend .bold !optional;
    
    padding-bottom: $padding / 2;
    margin-bottom: $padding;
    border-bottom: 1px solid $lightColor;
  }
  
}

.zoeken-verberg {
  display: none !important;
}

[data-resultcount="0"] {
  display: none;
}

.search-mode {
  &, body {
    overflow: hidden;
  }
  
  .zoeken {
    z-index: 202;
    background-color: $brandColor2;
    outline: $padding / 2 solid rgba($brandColor2, .7);
    height: 4rem;
    max-width: $maxContentWidth;
  }
  input {
    padding-left: 5rem;
  }
  .zoeken-container {
    display: block;
  }
  .nav-top {
    display: none;
  }
  &.scrolled {
    .zoeken {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
  label strong .icon-search {
    display: block;
  }
  .zoeken-button {
    display: none;
  }
  .zoeken-annuleren {
    display: block;
  }
}

.search-empty {
  max-width: 400px;
  text-align: center;
  margin: 2 * $padding auto;
  padding: $padding / 2;
  color: #fff;
  background-color: rgba($brandColor2, .9);

}