.sort, .sort-view {
  list-style: none;
  margin: 0 0 $lineHeight 0;
  padding: 0;
  line-height: 1;
  display: flex;
  font-size: $fontSmallSize;
  li {
    display: inline;
  }
}
.sort {
  a {
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    background-color: rgba($textColor, 0);
    transition: all .3s;
    &:hover {
      background-color: rgba($textColor, .05);
    }
    &.active {
      background-color: rgba($textColor, .1);
    }
  }
  i {
    display: none;
    margin-left: .5em;
    margin-right: .5em;
  }
  .active i {
    display: inline-block;
  }
}
.sort-view {
  font-size: 0;
  a {
    display: inline-block;
    font-size: $fontSmallSize;
    
    text-decoration: none;
    color: $textColor;

    padding: .5em .5em;
    margin: .5em -1px .5em 0;
    
    border: 1px solid #e5e5e5;
    
    transition: background-color .3s;
    
    &:hover {
      background-color: rgba($textColor, .2);
    }
  }
  i {
    margin-top: -10px;
    margin-bottom: -10px;
    top: -2px;
  }

}
[data-view="normaal"] .sort-view [href="#normaal"] {
  background-color: rgba($textColor, .8);
  color: #fff;
  .icon-view-normaal {
    border-color: #fff;
    &:before, &:after {
      background-color: #fff;
    }
  }
}

[data-view="compact"] .sort-view [href="#compact"] {
  background-color: rgba($textColor, .8);
  color: #fff;
  .icon-view-compact {
    &, &:before, &:after {
      border-color: #fff;
    }
  }
}


.sort-container {
  display: flex;
  align-items: center;
  
  margin-bottom: $lineHeight;
  
  font-size: $fontSmallSize;
  
  .sort, .sort-view {
    margin-bottom: 0;
  }
  
  .sort {
    margin-right: auto;
  }
  
  .sort-label {
    margin-right: 1em;
    font-weight: bold;
  }
  
  @include medium {
    flex-wrap: wrap;
    margin-bottom: 0;
    .sort-label {
      display: none;
      position: absolute;
    }
    .sort,
    .sort-view {
      margin-bottom: 10px;
    }
    .sort {
      margin-left: -.5em;
      li:first-child .active {
        margin-left: .5em;
      }
      li:last-child {
        margin-right: 2em;
      }
    }
  }
  
}

