.systeem-berichten {
  background: $lightColor;
  padding: $padding;
  list-style: none;
  margin: 0 auto $lineHeight auto;
  line-height: 1.2;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: .5em;
  }
  > *:last-child, 
  ul > li:last-child {
    margin-bottom: 0;
  }
  &.fout {
    background-color: rgba(red, .1);
  }
  &.goed {
    background-color: rgba(green, .1);
  }
  
  li.error {
    color: red;
  }
  li.info {
    color: green;
  }
  li.warning {
    color: orange;
  }
}