.tabs-container {
  max-width: $maxWidth;
  box-sizing: border-box;
  padding: 0 $padding;
  margin: 0 auto;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  
  &.tabs-center {
    justify-content: center;
    @include medium {
      justify-content: flex-start;
    }
  }

  list-style: none;

  margin: 0 0 $lineHeight 0;
  padding: 0;
  
  border-bottom: 3px solid #e5e5e5;

  > li {
    margin-right: 4px;
  }
  
  a {
    position: relative;
    display: block;

    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    
    color: #fff;
    background-color: #959595;
    
    padding: .7em 1.8em;
    
    transition: all .3s;
    
    &:before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 1em;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 100%);
      
      pointer-events: none;
      
      opacity: 1;
      transition: all .3s;
      
    }
    
    
    &:hover {
      background-color: lighten(#959595, 5);
      &:before {
        opacity: 0;
      }
      
    }
    
    &.active {
      background-color: #e5e5e5;
      color: $textColor;
      
      &:before {
        display: none;
      }
      
    }
  }
  @include medium {
    a {
      font-size: 1.6rem;
      
      padding: .6em 1em;
    }
  }
  
}


@include medium {
  .tabs-container {
    padding: 0 10px;
  }
}

@include small {
  .tabs-container {
    .tabs {
      margin-left: -10px;
      margin-right: -10px;
    }

    .tabs {
      li {
        margin-right: 1px;
      }
    
      a {
        padding: 10px;
      }
      
      [data-count]:after {
        margin-left: 3px;
      }
    }
  }  
  
}
