{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block login %}{% endblock %}

{% block main %}
  <div class="container">
    <form method="post" class="login">
        <fieldset>
            <legend>Inloggen bij RegelDingen</legend>
            {% csrf_token %}
            <p class="row">
                <label for="id_username">Gebruikersnaam:</label>
                {{ form.username }}
            </p>
            <p class="row">
                <label for="id_password">Wachtwoord:</label>
                {{ form.password }}
            </p>
        </fieldset>
        <p class="buttons right">
            <button type="submit" class="button" data-counter="click.login.login">Inloggen</button>
            <a href="#TODO" class="login-forgot" data-counter="click.login.forgot">Wachtwoord vergeten</a>
            <a href="#TODO" class="login-create" data-counter="click.login.create">Nog geen account? <u>Vraag het aan!</u></a>
            <a href="{% url 'regelingen' %}" onclick="history.go(-1); return false;" class="left" data-counter="click.login.cancel">Annuleren</a>
        </p>
    </form>
  </div>
{% endblock %}