{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block login %}{% endblock %}

{% block main %}
  <div class="container">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <p>
          <label for="id_username">Gebruikersnaam:</label>
          {{ form.username }}
      </p>
      <p>
          <label for="id_password">Wachtwoord:</label>
          {{ form.password }}
      </p>
      <p class="buttons right">
        <button type="submit" class="button">Login</button>
        <a href="{% url 'regelingen' %}">Terug naar de lijst</a>
      </p>
    </form>
  </div>
{% endblock %}