{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block login %}{% endblock %}

{% block main %}
    <div class="container container-small">

        {% if form.errors %}
            <ul class="systeem-berichten fout">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>
                            <label for="{{ field.id }}">{{ error|escape }}</label>
                        </li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>
                        {{ error|escape }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}" class="login well">
            <fieldset>
                <legend>Inloggen</legend>
                {% csrf_token %}
                
                <p class="row">
                    <label for="id_username">
                        <strong>E-mailadres</strong>
                        {{ form.username }}
                    </label>
                </p>
                <p class="row">
                    <label for="id_password">
                        <strong>Wachtwoord</strong>
                        {{ form.password }}
                    </label>
                </p>
            </fieldset>
            
            <p class="buttons right">
                <button type="submit" class="button" data-counter="click.login.login">Inloggen</button>
                <a href="{% url 'herstel_wachtwoord' %}" class="login-forgot" data-counter="click.login.forgot">Wachtwoord vergeten</a>
                <!-- <a href="#TODO" class="login-create" data-counter="click.login.create">Nog geen account? <u>Vraag het aan!</u></a> -->
                <a href="{% url 'regelingen' %}" data-handler="modal-close back" class="left" data-counter="click.login.cancel">Annuleren</a>
            </p>
            
        </form>
        
        <div class="footer footer-well text-center">
          <p>
            Heb je nog geen account of heb je problemen met inloggen, mail dan naar <a href="mailto:rutger.dik@amsterdam.nl">Rutger Dik</a>.
          </p>
        </div>
        
    </div>
{% endblock %}