{% extends 'base.html' %}

{% block login %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="container container-small">
          
            {% if form %}
                <form method="POST" class="login well">
                    {% csrf_token %}

                    <fieldset>
                        <legend>Wijzig wachtwoord</legend>
                
                        <div class="systeem-berichten">
                          <p>
                            Je wachtwoord
                          </p>
                          <ul class="list">
                              <li>mag niet lijken op je emailadres</li>
                              <li>moet minimaal 8 karakters bevatten</li>
                              <li>mag geen makkelijk wachtwoord zijn</li>
                              <li>mag niet enkel bestaan uit cijfers</li>
                          </ul>
                        </div>
                
                        <div class="inputs">
                            <p class="row">
                                <label>
                                    <strong>Nieuw wachtwoord</strong>
                                    {{ form.new_password1 }}
                                </label>
                            </p>
                            <p class="row">
                                <label>
                                    <strong>Bevestig nieuw wachtwoord</strong>
                                    {{ form.new_password2 }}
                                </label>
                            </p>

                        </div>
                    </fieldset>
                    <p class="buttons right">
                        <button type="submit" class="button">Wijzig</button>
                    </p>

                </form>
            {% else %}
                <div class="systeem-berichten fout">
                  <p>Er is iets fout gegaan met de gegenereerde link of de geldigheid van de link is verlopen. <a href="{% url 'wachtwoord_instellen' %}" data-counter="click.reset_password.generate_link">Vraag nogmaals een nieuwe link aan</a>.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}