{% load i18n %}{% autoescape off %}
Beste {{ user.profiel.voornaam }}{% if user.profiel.tussenvoegsel %} {{ user.profiel.tussenvoegsel }}{% endif %} {{ user.profiel.achternaam }},

Je hebt je recent aangemeld als contactpersoon voor de ‘VraagMij’ applicatie van de Gemeente Amsterdam. Hiermee kun je in contact komen met collega zorgprofessionals op basis van regelingen, kennis en/of  expertise. De website is nog volop in ontwikkeling, maar we willen je graag vragen om alvast een kijkje te nemen en feedback te geven.
Via onderstaande link kun je je eigen wachtwoord instellen en je profiel volledig maken. Gegevens die bij ons bekend zijn, hebben we alvast voor je ingevuld.

{{ protocol }}://{{ domain }}{% url 'bevestig_instellen' uidb64=uid token=token %}

Vragen over deze mail of feedback over de ‘VraagMij’ applicatie? Stuur ze naar rutger.dik@amsterdam.nl

Dank bij voorbaat!

Met vriendelijke groet,

Team ‘VraagMij’ applicatie

(Dit is een automatisch bericht, je kunt niet antwoorden)
{% endautoescape %}