{% extends 'base.html' %}

{% block login %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="container container-small">
        <form method="POST" class="login">
            {% csrf_token %}
            
            <div class="systeem-berichten">
              <ul>
                  <li>Je wachtwoord mag niet lijken op bvb. je naam of emailadres.</li>
                  <li>Je wachtwoord moet minimaal 8 karakters bevatten.</li>
                  <li>Je wachtwoord mag geen makkelijk wachtwoord zijn.</li>
                  <li>Je wachtwoord mag niet enkel bestaan uit cijfers.</li>
              </ul>
            </div>

            <fieldset>
                <legend>Wachtwoord instellen</legend>
                <div class="inputs">
                    <p class="row">
                        <label>
                            <strong>Wachtwoord</strong>
                            {{ form.new_password1 }}
                        </label>
                    </p>
                    <p class="row">
                        <label>
                            <strong>Bevestig wachtwoord</strong>
                            {{ form.new_password2 }}
                        </label>
                    </p>

                </div>
            </fieldset>
            <p class="buttons right">
                <button type="submit" class="button">Instellen</button>
            </p>

        </form>
    </div>
    </div>
{% endblock %}