{% load i18n %}{% autoescape off %}
Beste {{ user.profiel.voornaam }}{% if user.profiel.tussenvoegsel %} {{ user.profiel.tussenvoegsel }}{% endif %} {{ user.profiel.achternaam }},

Via de {{ SITE_INSTELLINGEN.app_naam }} applicatie van de Gemeente Amsterdam, is een link aangevraagd om je wachtwoord te wijzigen. Je kunt dit doen via onderstaande link:

{{ protocol }}://{{ domain }}{% url 'bevestig_herstel' uidb64=uid token=token %}

Mocht je deze link niet hebben aangevraagd of niet weten waar deze voor dient, dan kun je deze mail negeren en verwijderen. Je hoeft geen verdere stappen te ondernemen.

Vragen of feedback over de {{ SITE_INSTELLINGEN.app_naam }} applicatie? Stuur ze naar {{ SITE_INSTELLINGEN.standaard_contact_email }}

Dank bij voorbaat!

Met vriendelijke groet,

Team {{ SITE_INSTELLINGEN.app_naam }} applicatie

(Dit is een automatisch bericht, je kunt niet antwoorden)
{% endautoescape %}
