{% extends 'base.html' %}
{% load i18n %}
{% block login %}{% endblock %}
{% block tabs %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="container container-small">
            <form method="post" class="login well">
                {% csrf_token %}
                {% if form.email.errors %}
                  <div class="systeem-berichten">
                    {{ form.email.errors }}
                  </div>
                {% endif %}
                <fieldset>
                    {% if flow == 'new' %}
                    <legend>Maak je wachtwoord aan</legend>
                    <p>
                        Welkom bij de <strong>[VRAAGBAAK]</strong> voor het sociaal domein en meer.
                    </p>
                        {% if email %}
                        <p>
                            We hebben een tijdelijk wachtwoord voor je aangemaakt.<br>
                            Als je op de knop 'Wachtwoord instellen' klikt. wordt er een mail gestuurd naar '{{ email }}'.<br>
                            Met de link in deze mail kun je dit tijdelijke wachtwoord wijzigen.
                            <input type="hidden" name="email" maxlength="254" value="{{ email }}" required="" id="id_email">
                        </p>
                        {% else %}
                        <p>
                            We hebben een tijdelijk wachtwoord voor je aangemaakt.<br>
                            Als je je e-mail adres invult en op de knop 'Wachtwoord instellen' klikt, wordt naar dat adres een mail gestuurd.<br>
                            Met de link in deze mail kun je dit tijdelijke wachtwoord wijzigen.
                        </p>
                        <div class="inputs">
                            <p class="row">
                                <label for="id_email">
                                    <strong>{% trans 'E-mailadres' %}</strong>
                                    {{ form.email }}
                                </label>
                            </p>

                        </div>
                        {% endif %}
                    {% else %}
                    <legend>Wijzig wachtwoord</legend>
                    <div class="inputs">
                        <p class="row">
                            {% if user.is_authenticated %}
                                <span class="label">
                                    <strong>{% trans 'E-mailadres' %}</strong>
                                    <input type="hidden" name="email" value="{{ user.email }}">
                                    <span>{{ user.email }}</span>
                                </span>
                            {% else %}
                                <label for="id_email">
                                    <strong>{% trans 'E-mailadres' %}</strong>
                                    {{ form.email }}
                                </label>
                            {% endif %}
                        </p>

                    </div>
                    {% endif %}
                </fieldset>
                <p class="buttons right">
                    {% if flow == 'new' %}
                    <button class="button" type="submit" value="{% trans 'Wachtwoord instellen' %}">{% trans 'Wachtwoord instellen' %}</button>
                    {% else %}
                    <button class="button" type="submit" value="{% trans 'Herstel mijn wachtwoord' %}">{% trans 'Herstel mijn wachtwoord' %}</button>
                    {% endif %}
                    <a href="/" data-handler="back">{% trans 'Annuleren' %}</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}