{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <div class="container">
        <div class="container container-small">
            <form method="post" class="login">
                {% csrf_token %}
                <div class="systeem-berichten">
                  {{ form.email.errors }}
                </div>
                <fieldset>
                    <legend>Wijzig wachtwoord</legend>
                    <div class="inputs">
                        <p class="row">
                            <label for="id_email">
                                <strong>{% trans 'E-mailadres:' %}</strong>
                                {{ form.email }}
                            </label>
                        </p>

                    </div>
                </fieldset>
                <p class="buttons right">
                    <input class="button" type="submit" value="{% trans 'Herstel mijn wachtwoord' %}"/>
                </p>
            </form>
        </div>
    </div>
{% endblock %}