{% with id=widget.attrs.id %}
    <div data-decorator="group-label">
      <label class="group-label"><input type="checkbox"> <strong>Stedelijk</strong></label>
      <ul{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
          {% for group, options, index in widget.optgroups %}{% if group %}
          <li>
              <label class="group-label"><input type="checkbox"> <strong>{{ group }}</strong></label>
              <ul{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
              {% endif %}{% for option in options %}
              <li>
                  {% include option.template_name with widget=option %}
              </li>
              {% endfor %}
              {% if group %}
              </ul>
          </li>
          {% endif %}
          {% endfor %}
      </ul>
  </div>
  
{% endwith %}