{% if request.GET.success %}
    <div class="systeem-berichten goed">
        Je contact is uitgenodigd.
    </div>
{% else %}

    <figure class="contact-avatar">
      <span class="icon-avatar"></span>
    </figure>
    <dl class="contact-meta">
      <dt class="contact-naam">naam</dt>
      <dd><strong>Collega</strong> <span>hulpverlener</span></dd>
      <dt class="contact-gemist">Mis je iemand?</dt>
      <dd>Mis je iemand die hierbij zou moeten staan?<br>Nodig een collega uit.</dd>
    </dl>
    

    <form method="post" action="{% url 'gebruiker_uitnodigen' %}">
        
        
        {% csrf_token %}
        {% if form.errors %}
            <div class="systeem-berichten fout">
                <ul>
                    {% for e, v in form.errors.items %}
                        <li>{{ v }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <fieldset>
            {% csrf_token %}
            <p class="group">
              <input name="email" required id="id_email" type="email" placeholder="collega@organisatie.nl">
              <button type="submit" class="button">Uitnodigen</button>
            </p>
        </fieldset>
        
    </form>
{% endif %}