{% if request.GET.success %}
    <div class="systeem-berichten goed">
        Je contact is uitgenodigd.
    </div>
{% else %}
    <h2>Nodig een collega uit</h2>
    <p>Vul hieronder het e-mailadres in van de collega die je wilt uitnodigen.</p>

    <form method="post" action="{% url 'gebruiker_uitnodigen' %}">
        
        
        {% csrf_token %}
        {% if form.errors %}
            <div class="systeem-berichten fout">
                <ul>
                    {% for e, v in form.errors.items %}
                        <li>{{ v }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <p class="group">
          <input name="email" required id="id_email" type="email" placeholder="collega@organisatie.nl">
          <button type="submit" class="button">Uitnodigen</button>
        </p>
        
    </form>
{% endif %}