.text-left {
  text-align: left !important;
  * {
    text-align: left !important;
  }
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.hidden,
.js .js-hidden {
  display: none !important;
}

.version {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  transition: outline .3s;
  outline: 5000px solid rgba(#000, 0);
  * {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
  }
  span {
    &:before {
      content: '-';
      margin: 0 .2em 0 .5em;
    }
    max-width: 0;
    overflow: hidden;
    transition: max-width .3s;
  }
  
  &:hover {
    outline: 5000px solid rgba(#000, .2);
    span {
      max-width: 200px;
    }
  }
  
  
  
}