html { 
  font-size: 62.5%;
  @include medium {
    font-size: 50%;
  }
}
body,
[type="text"],
[type="search"],
[type="email"],
[type="password"],
[type="url"],
[type="number"],
[type="date"],
[type="time"],
[type="tel"],
[type="datalist"],
pre,
textarea,
select {
  font-size: $fontSize;
  font-family: "AvenirNextLTW01-Regular", verdana, sans-serif;
}
.bold {
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
}

body {
  line-height: $lineHeightRelative;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .huge {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1em;
} 
h2, .big {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 0.2em;
}
h3, .large {
  font-size: 2rem;
  line-height: 1.2;
}
a {
  color: $textColor;
}
h1, h2, h3 {
  color: $brandColor2;
  font-family: "Avenir Next LT W01 Demi", verdana, sans-serif;
  font-weight: 400;
}
h4, .normal {
  font-size: $fontSize;
  line-height: $lineHeightRelative;
}
h5, .small {
  font-size: 1.4rem;
  line-height: $lineHeightRelative;
}
h6, .tiny {
  font-size: 1.2rem;
  line-height: $lineHeightRelative;
}