/*

  http://fast.fonts.net/cssapi/195fd1b2-81b7-4c67-b3d0-ba13116a1bfd.css

  font-family: "Avenir LT W01_65 Medium1475538";
  font-family: "Avenir LT W01_95 Black_1475562";
  font-family: "Avenir LT W01_85 Heavy1475544";
  font-family: "Avenir LT W01_85 Heavy_1475550";
  font-family: "Avenir LT W01_55 Obliqu1475526";
  font-family: "Avenir LT W01_45 Book1475508";
  font-family: "Avenir LT W01_65 Medium1475538";
  font-family: "Avenir LT W01_45 Book O1475514";
  font-family: "Avenir LT W01_95 Black1475556";
  font-family: "Avenir LT W01_55 Roman1475520";
  font-family: "Avenir LT W01_65 Medium1475532";
  font-family: "Avenir LT W01_35 Light1475496";
  font-family: "Avenir LT W01_35 Light_1475502";


*/
html { 
  font-size: 62.5%;
  @include medium {
    font-size: 55%;
  }
}
body,
[type="text"],
[type="search"],
[type="email"],
[type="password"],
[type="url"],
[type="number"],
[type="date"],
[type="time"],
[type="tel"],
[type="datalist"],
pre,
textarea,
select {
  font-size: $fontSize;
  font-family: Helvetica, Arial;
} 
body {
  line-height: $lineHeightRelative;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .huge {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 1em;
} 
h2, .big {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 1em;
}
h3, .large {
  font-size: 20px;
  line-height: 1.2;
}
a {
  color: $textColor;
}
h1, h2, h3 {
  color: $brandColor2;
}
h4, .normal {
  font-size: $fontSize;
  line-height: $lineHeightRelative;
}
h5, .small {
  font-size: 1.4rem;
  line-height: $lineHeightRelative;
}
h6, .tiny {
  font-size: 1.2rem;
  line-height: $lineHeightRelative;
}