$fontSize: 1.6rem;
$lineHeightRelative: 1.375;
$lineHeight: $fontSize * $lineHeightRelative;

// breakpoints
$large: 1290px;
$medium: 900px;
$small: 700px;

$brandColor1: #ec0000;
$brandColor2: #6db5d6;

$textColor: #333;
$accentColor: $brandColor1;

$padding: 3rem;
$unit: 80px;

$maxContentWidth: 1200px;
$maxWidth: 1400px;
