{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Jeugdzorg: {{ ENV }}</a></h1>

{% endblock %}

{% block extrahead %}
<style>
    #header {
        height: 70px;
    }
    #header .object-tools {
        float: right;
        margin: 0 -1em;

    }
</style>

{% endblock %}

{% block nav-global %}
    {% if request.user.is_superuser %}
        <ul class="object-tools">
        <li>
    <li><a class="btn button" href="{% url 'rebuild_crontabs' %}">Rebuild crontabs</a></li>
    <li><a class="btn button" href="{% url 'dumpjeugdzorg' %}">Download jeugdzorg.json</a></li>
    {% if ENV != 'production' %}
    <li><a class="btn button" href="{% url 'loadjeugdzorg' %}">Upload jeugdzorg.json</a></li>
    {% endif %}
    {% endif %}

    </ul>
{% endblock %}