{% extends 'base.html' %}
{% load version_tags %}

{% block main %}
    <h1>{{ int_id }} is worker: {{ is_cronjob_worker }}</h1>
{#    <ul>#}
{#        {% for var in envvars %}#}
{#            <li>{{ var }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

    {% for log in logs %}
        {% if log.2 %}
            <h2>{{ log.0 }}</h2>
            <ul>
                {% for line in log.2 %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

{% endblock %}