<div class="container">
  
    <ul class="shortcuts">
        {% for thema in themas %}
            {% if thema.contacten.all %}
                <li><a href="#thema-{{ thema.id }}" data-decorator="scroll" data-counter="click.list.thema.{{ thema.id }}">{{ thema }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#thema-overige" data-decorator="scroll" data-counter="click.list.thema.overige">Overige</a></li>
    </ul>


    <div class="columns">
        {% for thema in themas %}

            {% if thema.contacten.all %}
                <h2 class="shortcut" id="thema-{{ thema.id }}"><a href="{% url 'detail_thema' thema.slug %}">{{ thema.titel }}</a></h2>
            
                <ul class="contacten">
                    {% for contact in thema.contacten.all %}
                        <li><a href="{% url 'detail_contact' contact.id %}" data-counter="click.list.contact.{{ contact.id }}">
                          {{ contact.contact.achternaam }}, {{ contact.contact.voornaam }} <em>{{ contact.rol }}</em>
                        </a></li>
                    {% endfor %}
                </ul>
                
            {% endif %}

        {% endfor %}

        <div class="group">
            <h2 class="shortcut" id="thema-overige">Overige</h2>
            <ul class="contacten">
                {% for contact in contact_list %}
                    {% if not contact.thema_set.all %}
                        <li><a href="{% url 'detail_contact' contact.id %}" data-counter="click.list.contact.{{ contact.id }}">
                          {{ contact.achternaam }}, {{ contact.voornaam }}
                        </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
    </div>

</div>