{% load static thumbnail %}
<div class="contact">

    <figure class="contact-avatar">
      <span class="icon-avatar" {% if item.pasfoto %}style="background-image: url('{{ item.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span>
    </figure>
{#    staddelen#}
{#    {{ item.stadsdeel_lijst }}#}
    <dl class="contact-meta">
      <dt class="contact-naam">naam</dt><dd><strong>{% if item.tussenvoegsel %}{{ item.tussenvoegsel }} {% endif %}{{ item.achternaam }}</strong> <span>{{ item.voornaam }}</span></dd>
      {% if item.functie %}
        <dt class="contact-functie">functie</dt><dd>{{ item.functie }}</dd>
      {% endif %}
      {% for organisatie in item.organisatie_lijst.all %}
        <dt class="contact-organisatie">organisatie</dt><dd>{{ organisatie.naam }}</dd>
      {% endfor %}
      {% for gebied in item.gebied_lijst.all %}
        <dt class="contact-gebied">gebied</dt><dd>{{ gebied.naam }}</dd>
      {% endfor %}

    {% if item.email %}
        <dt class="contact-email">email</dt><dd data-label="email"><a href="mailto:{{ item.email }}" data-counter="click.detail.contact.email mouseover.detail.contact.email">{{ item.email }}</a></dd>
    {% endif %}

    {% if item.telefoonnummer %}
        <dt class="contact-telefoon">telefoon</dt><dd data-label="telefoon"><a href="tel:{{ item.telefoonnummer }}" data-counter="click.detail.contact.tel mouseover.detail.contact.tel">{{ item.telefoonnummer }}</a></dd>
    {% endif %}

    </dl>

</div>