{% load form_tags %}
<div class="container">
  
    <ul class="shortcuts medium-show">
        {% for thema in themas %}
            {% if thema.profielen_zichtbaar %}
                <li><a href="#thema-{{ thema.id }}" data-decorator="scroll">{{ thema }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#thema-overige" data-decorator="scroll" data-counter="click.list.thema.overige">Overige</a></li>
    </ul>
    
    <div class="overzicht compact-columns">
        
        {% for thema in themas %}
    
            {% if thema.profielen_zichtbaar %}
                <div class="group">
                    <h2 class="shortcut" id="thema-{{ thema.id }}"><a href="{% url 'detail_thema' thema.slug %}">{{ thema.titel }}</a></h2>
                    <ul class="contacten cards">
                        {% for contact in thema.profielen_zichtbaar %}
                            <li>{% include 'snippets/contact.html' with item=contact %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        {% endfor %}

        <div class="group">
            <h2 class="shortcut" id="thema-overige">Overige</h2>
            <ul class="contacten cards">
                {% for contact in profiel_list %}
                    {% if not contact.thema_lijst.all %}
                        <li>
                            {% include 'snippets/contact.html' with item=contact %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        <div class="group">
          <h2 class="shortcut" id="collega">Mis je iemand?</h2>
          <ul class="contacten cards">
            <li>
              <div class="contact contact-gemist" data-decorator="gebruiker-uitnodigen">
                {% get_gebruiker_uitnodigen_form %}
              </div>
            </li>
          </ul>
        </div>

    </div>

</div>