<div class="container">
  
    <ul class="shortcuts medium-show">
        {% for thema in themas %}
            {% if thema.profiel_set.all %}
                <li><a href="#thema-{{ thema.id }}" data-decorator="scroll" data-counter="click.list.thema.{{ thema.id }}">{{ thema }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#thema-overige" data-decorator="scroll" data-counter="click.list.thema.overige">Overige</a></li>
    </ul>
        
    {% for thema in themas %}
    
        {% if thema.profiel_set.all %}
            <h2 class="shortcut" id="thema-{{ thema.id }}">{{ thema.titel }}</h2>
            <ul class="contacten cards">
                {% for contact in thema.profiel_set.all %}
                    <li>{% include 'snippets/contact.html' with item=contact %}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endfor %}

    <h2 class="shortcut" id="thema-overige">Overige</h2>
    <ul class="contacten cards">
        {% for contact in profiel_list %}
            {% if not contact.thema_lijst.all %}
                <li>
                    {% include 'snippets/contact.html' with item=contact %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>