<div class="container">

    {% regroup profiel_list by first_letter as title_list %}
    <ul class="shortcuts medium-show">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#profiel-{{ letter }}" data-decorator="scroll">{{ letter }}</a></li>
        {% endfor %}
    </ul>
    
    {% if ordening == 'aflopend' %}
    
        {% for titel in title_list reversed %}
          <h2 class="shortcut" id="profiel-{{ titel.grouper }}">{{ titel.grouper }}</h2>
          <ul class="contacten cards">
            {% for profiel in titel.list reversed %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
          </ul>
        {% endfor %}
    
    {% else %}
    
        {% for titel in title_list %}
          <h2 class="shortcut" id="profiel-{{ titel.grouper }}">{{ titel.grouper }}</h2>
          <ul class="contacten cards">
            {% for profiel in titel.list %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
          </ul>
        {% endfor %}
    
    {% endif %}

</div>