<div class="container">
    
    <ul class="overzicht compact-columns contacten cards">
    
        {% if ordening == 'aflopend' %}
            {% for profiel in profiel_list|dictsort:"seconden_niet_gebruikt" reversed %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
        {% else %}
            {% for profiel in profiel_list|dictsort:"seconden_niet_gebruikt" %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
        {% endif %}

    </ul>

</div>