<div class="container">
  
    <h1 class="visually-hidden">Contacten</h1>

    {% regroup profiel_list by first_letter as title_list %}
    <ul class="shortcuts medium-show">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#contact-{{ letter }}" data-decorator="scroll" data-counter="click.contacten.alfabet.{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
    </ul>
    
    <ul class="contacten cards">
        {% for titel in title_list %}
            <li class="shortcut medium-show" id="contacten-{{ titel.grouper }}">{{ titel.grouper }}</li>
            {% for contact in titel.list %}
                <li>
                    {% include 'snippets/contact.html' with item=contact %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

</div>