{% load form_tags %}
<div class="container">
  
    <ul class="shortcuts medium-show">
        {% for gebied in gebieden %}
            {% if gebied.profielen_zichtbaar %}
                <li><a href="#gebied-{{ gebied.id }}" data-decorator="scroll">{{ gebied }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#gebied-overige" data-decorator="scroll">Overige</a></li>
    </ul>
    
    <p class="contact-gemist-trigger">
      <a href="#contact-gemist" data-handler="modal" class="text-right"><strong>Mis je een collega?</strong> Nodig iemand uit!</a>
    </p>

    <div class="hidden" id="contact-gemist">
      <div class="well" data-submitter="gebruiker-uitnodigen">
        {% get_gebruiker_uitnodigen_form %}
      </div>
    </div>
    
    
    <div class="overzicht compact-columns">
        
        {% for gebied in gebieden %}
    
            {% if gebied.profielen_zichtbaar %}
                <div class="group">
                    <h2 class="shortcut" id="gebied-{{ gebied.id }}">{{ gebied.naam }}</h2>
                    <ul class="contacten cards">
                        {% for profiel in gebied.profielen_zichtbaar %}
                            <li>{% include 'snippets/contact.html' with item=profiel %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        {% endfor %}
        <div class="group">
            <h2 class="shortcut" id="gebied-overige">Overige</h2>
            <ul class="contacten cards">
                {% for profiel in profiel_list %}
                    {% if not profiel.gebied_lijst.all %}
                        <li>
                            {% include 'snippets/contact.html' with item=profiel %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
    </div>

</div>