{% load form_tags %}
<div class="container">

    {% regroup profiel_list by first_letter as title_list %}
    <ul class="shortcuts medium-show">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#profiel-{{ letter }}" data-decorator="scroll">{{ letter }}</a></li>
        {% endfor %}
    </ul>

    <p class="contact-gemist-trigger">
      <a href="#contact-gemist" data-handler="modal" class="text-right"><strong>Mis je een collega?</strong> Nodig iemand uit!</a>
    </p>

    <div class="hidden" id="contact-gemist">
      <div class="well" data-submitter="gebruiker-uitnodigen">
        {% get_gebruiker_uitnodigen_form %}
      </div>
    </div>

    <div class="overzicht compact-columns">
    
        {% if ordening == 'aflopend' %}
    
            {% for titel in title_list reversed %}
              <div class="group">
                <h2 class="shortcut" id="profiel-{{ titel.grouper }}">{{ titel.grouper }}</h2>
                <ul class="contacten cards">
                  {% for profiel in titel.list reversed %}
                      <li>
                          {% include 'snippets/contact.html' with item=profiel %}
                      </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
    
        {% else %}
    
            {% for titel in title_list %}
              <div class="group">
                <h2 class="shortcut" id="profiel-{{ titel.grouper }}">{{ titel.grouper }}</h2>
                <ul class="contacten cards">
                  {% for profiel in titel.list %}
                      <li>
                          {% include 'snippets/contact.html' with item=profiel %}

                      </li>
                  {% endfor %}
                </ul>
                </div>
              {% endfor %}
            
    
        {% endif %}
        
    </div>

</div>