{% load static %}
<section class="contact-card">
    <span class="contact-avatar">
      <span {% if item.pasfoto %}style="background-image: url({{ item.pasfoto.url }});"{% else %}style="background-image: url('{% static '' %}/images/pic_avatar-{{ item.voornaam|slugify }}-{{ item.achternaam|slugify }}.jpg')"{% endif %}></span>
    </span>
    <strong class="contact-naam">{{ item.achternaam }}, {{ item.voornaam }}</strong>
    {% if contact.functie %}
        <em class="contact-rol">{{ contact.functie }}</em>
    {% endif %}
    
    <ul class="contact-manieren">
        <li><a href="mailto:{{ item.email }}" data-counter="click.detail.contact.email mouseover.detail.contact.email">{{ item.email }}</a></li>
        {% if item.telefoonnummer %}
            <li><a href="tel:{{ item.telefoonnummer }}" data-counter="click.detail.contact.tel mouseover.detail.contact.tel">{{ item.telefoonnummer }}</a></li>
        {% endif %}
    </ul>
    
</section>