{% load form_tags %}
<div class="container">
  
    <p class="contact-gemist-trigger">
      <a href="#contact-gemist" data-handler="modal" class="text-right"><strong>Mis je een collega?</strong> Nodig iemand uit!</a>
    </p>

    <div class="hidden" id="contact-gemist">
      <div class="well" data-submitter="gebruiker-uitnodigen">
        {% get_gebruiker_uitnodigen_form %}
      </div>
    </div>
    
    <h2 class="shortcut">Contactpersonen</h2>
    
    <ul class="overzicht compact-columns contacten cards">
    
        {% if ordening == 'aflopend' %}
            {% for profiel in profiel_list|dictsort:"seconden_niet_gebruikt" reversed %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
        {% else %}
            {% for profiel in profiel_list|dictsort:"seconden_niet_gebruikt" %}
                <li>
                    {% include 'snippets/contact.html' with item=profiel %}
                </li>
            {% endfor %}
        {% endif %}

    </ul>

</div>