<div class="container">

    {% regroup regeling_list by first_letter as title_list %}
    <ul class="shortcuts medium-show">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#regelingen-{{ letter }}" data-decorator="scroll" data-counter="click.regelingen.alfabet.{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
    </ul>
    
    <ul class="regelingen cards">
    {% for titel in title_list %}
          {% for regeling in titel.list %}
              <li{% if forloop.first %} data-shortcut="{{ titel.grouper }}" id="regelingen-{{ titel.grouper }}"{% endif %}>
              {% include 'snippets/regeling.html' %}
              </li>
          {% endfor %}
    {% endfor %}
    </ul>

</div>