<div class="container">
  
    <ul class="shortcuts medium-show">
        {% for thema in themas %}
            {% if thema.regeling_set.all %}
                <li><a href="#thema-{{ thema.id }}" data-decorator="scroll" data-counter="click.list.thema.{{ thema.id }}">{{ thema }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#thema-overige" data-decorator="scroll" data-counter="click.list.thema.overige">Overige</a></li>
    </ul>


    {% for thema in themas %}

        {% if thema.regeling_set.all %}
            <h2 class="shortcut" id="thema-{{ thema.id }}"><a href="{% url 'detail_thema' thema.slug %}">{{ thema.titel }}</a></h2>
        
            <ul class="regelingen cards">
                {% for regeling in thema.regeling_set.all %}
                    <li>
                      {% include 'snippets/regeling.html' %}
                    </li>
                {% endfor %}
            </ul>
            
        {% endif %}

    {% endfor %}

    <h2 class="shortcut" id="thema-overige">Overige</h2>
    <ul class="regelingen cards">
        {% for regeling in regeling_list %}
            {% if not regeling.themas.all %}
                <li>
                  {% include 'snippets/regeling.html' %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>