<article class="regeling" id="regeling-{{ regeling.id }}">

    <header class="regeling-header">
        <h1 class="regeling-title">
            {% if user.is_authenticated %}
                <small class="regeling-edit"><a href="{% url 'update_regeling' regeling.id %}">[bewerken]</a></small>
            {% endif %}

            {{ regeling.titel }}

        </h1>

        {% if regeling.samenvatting %}
            <div class="regeling-samenvatting">
                {{ regeling.samenvatting|linebreaks }}
            </div>
        {% endif %}
    </header>

    <div class="regeling-details">
        {% if regeling.voorwaarde_set.all %}
            <ol class="regeling-voorwaarden" data-decorator="progress" data-regeling-id="{{ regeling.id }}">
                {% for vw in regeling.voorwaarde_set.all %}
                    <li data-voorwaarde-id="{{ vw.id }}">{{ vw.titel }}</li>
                {% endfor %}
            </ol>
        {% endif %}

    </div>
    <div class="regeling-contacten">
        <ul class="contacten">
            {% for contact in regeling.contacten %}
            <li>
                {% include "snippets/contact.html" %}
            </li>
            {% endfor %}
        </ul>
    </div>



</article>