<div class="container">
  
    <ul class="shortcuts">
        {% for doel in doelen %}
            {% if doel.regeling_set.all %}
                <li><a href="#doel-{{ doel.id }}" data-decorator="scroll" data-counter="click.list.doel.{{ doel.id }}">{{ doel }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#doel-overige" data-decorator="scroll" data-counter="click.list.doel.overige">Overige</a></li>
    </ul>


    <div class="columns">
        {% for doel in doelen %}

            {% if doel.regeling_set.all %}
                <h2 class="shortcut" id="doel-{{ doel.id }}"><a href="{% url 'detail_doel' doel.slug %}">{{ doel.titel }}</a></h2>
                {% if doel.omschrijving %}
                    <p class="doel-omschrijving">
                        {{ doel.omschrijving }}
                    </p>
                {% endif %}
            
                <ul class="regelingen">
                    {% for regeling in doel.regeling_set.all %}
                        <li><a href="{% url 'detail_regeling' regeling.id %}" data-counter="click.list.regeling.{{ regeling.id }}">{{ regeling.titel }}</a></li>
                    {% endfor %}
                </ul>
                
            {% endif %}

        {% endfor %}

        <div class="group">
            <h2 class="shortcut" id="doel-overige">Overige</h2>
            <ul class="regelingen">
                {% for regeling in regeling_list %}
                    {% if not regeling.doelen.all %}
                        <li><a href="{% url 'detail_regeling' regeling.id %}" data-counter="click.list.regeling.{{ regeling.id }}">{{ regeling.titel }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
    </div>

</div>