<div class="container">

    {% regroup regeling_list by first_letter as title_list %}
    <ul class="shortcuts">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#regelingen-{{ letter }}" data-decorator="scroll">{{ letter }}</a></li>
        {% endfor %}
    </ul>

    {% for titel in title_list %}
        <h2 class="shortcut" id="regelingen-{{ titel.grouper }}">{{ titel.grouper }}</h2>
        {% for regeling in titel.list %}
            {% include "snippets/regeling.html" %}
        {% endfor %}
    {% endfor %}

</div>