<div class="regeling">
  
  <h2 class="regeling-titel"><i class="icon-regeling"></i> {{ regeling.titel }}</h2>
  <div class="regeling-samenvatting">
      <p>{{ regeling.samenvatting|truncatechars_html:100 }}</p>
  </div>

  <ul class="regeling-meta">
      <li><a href="{% url 'detail_regeling' regeling.id %}#voorwaarden"><strong>{{ regeling.voorwaarde_set.all|length }}</strong> voorwaarde{% if regeling.voorwaarde_set.all|length != 1 %}n{% endif %}</a></li>
      {% if regeling.profielen_zichtbaar %}
          <li><a href="{% url 'detail_regeling' regeling.id %}#contacten"><strong>{{ regeling.profielen_zichtbaar|length }}</strong> {% if regeling.profielen_zichtbaar|length != 1 %}contactpersonen{% else %}contactpersoon{% endif %}</a></li>
      {% endif %}
      <li class="regeling-link">
        {% if sub_view == 'thema' %}
          <a href="{% url 'detail_thema_regeling' thema.slug regeling.id %}">Meer details</a>
        {% else %}
          <a href="{% url 'detail_regeling' regeling.id %}">Meer details</a>
        {% endif %}
      </li>
  </ul>

</div>