<div class="container">

    {% regroup regeling_list by first_letter as title_list %}
    <ul class="shortcuts">
        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li><a href="#regelingen-{{ letter }}" data-decorator="scroll" data-counter="click.regelingen.alfabet.{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
    </ul>
    
    <div class="columns">

        {% for titel in title_list %}
            <div class="group">
                <h2 class="shortcut" id="regelingen-{{ titel.grouper }}">{{ titel.grouper }}</h2>
                <ul class="regelingen">
                    {% for regeling in titel.list %}
                        <li><a href="{% url 'detail_regeling' regeling.id %}" data-counter="click.regelingen.regeling.{{ regeling.id }}">{{ regeling.titel }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

</div>