<div class="container">
  
    <ul class="shortcuts">
        {% for doel in doelen %}
            {% if doel.regeling_set.all %}
                <li><a href="#doel-{{ doel.id }}" data-decorator="scroll">{{ doel }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#doel-overige" data-decorator="scroll">Overige</a></li>
    </ul>

    {% for doel in doelen %}

        {% if doel.regeling_set.all %}
            <h2 class="shortcut" id="doel-{{ doel.id }}">{{ doel.titel }}</h2>
            {% for regeling in doel.regeling_set.all %}
                {% include "snippets/regeling.html" %}
            {% endfor %}
        {% endif %}

    {% endfor %}

    <h2 class="shortcut" id="doel-overige">Overige</h2>
    {% for regeling in regeling_list %}
        {% if not regeling.doelen.all %}
            {% include "snippets/regeling.html" %}
        {% endif %}
    {% endfor %}
    
</div>