<div class="container">
  <div class="article-container">
    <article class="article">
      <h1>VraagMij</h1>
      <h2>Drempelloos werken</h2>
      <p class="large">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </article>
  
    <aside class="aside well well-small">
  
      <h3 class="footer-title">Contact</h3>
      <p>Heb je een vraag en kun je het antwoord niet vinden op onze website?</p>
      <p><a href="mailto:{{ SITE_INSTELLINGEN.standaard_contact_email }}"><i class="icon-arrow-right"></i> E-mail {% if SITE_INSTELLINGEN.app_naam %}{{ SITE_INSTELLINGEN.app_naam }}{% else %}VraagMij{% endif %}</a></p>
  
      <h3 class="footer-title">Feedback</h3>
      <p>Heb je een fout gevonden, of heb je suggesties voor verbeteringen?</p>
      <p><a href="mailto:{{ SITE_INSTELLINGEN.standaard_contact_email }}"><i class="icon-arrow-right"></i> Stuur feedback</a></p>
  
    </aside>
  </div>
  
  <hr>
  
</div>