{% load static version_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>Jeugdzorg - {% block title %}Regelingen{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}?{% now "U" %}"/>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/195fd1b2-81b7-4c67-b3d0-ba13116a1bfd.css">
    
</head>
<body id="top" data-decorator="scroller">
  <header class="header">
    <div class="container">
      <a href="/" class="logo"><i class="icon-andreas"></i>Gemeente Amsterdam</a>
      {% block login %}
        <div class="nav-container">
          <a href="#MENU" class="nav-open" data-handler="toggle">MENU<i class="icon-menu"></i></a>
          <nav class="nav" id="MENU">
            <ul class="menu">
              {% if user.is_authenticated %}
                <li><a href="{% url 'create_regeling' %}">Regeling toevoegen</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
              {% endif %}
            </ul>
          </nav>
          <a href="#MENU" class="nav-close" data-handler="toggle"><i class="icon-close"></i></a>
        </div>
      {% endblock %}
    </div>
  </header>
  <main class="main">
{% block main %}
hello world
{% endblock %}
  </main>
  
  <p class="nav-top">
    <a href="#top" data-handler="scroll">⇡</a>
  </p>
  
  <script type="text/javascript" defer src="{% static "js/scripts.js" %}?{% now "U" %}"></script>
  <div class="version">
    <strong>{{ ENV }}</strong><span> {{ SOURCE_COMMIT }}</span>
  </div>
</body>
</html>