{% load static version_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>Jeugdzorg - {% block title %}Regelingen{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}?{% now "U" %}"/>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo"><i class="icon-andreas"></i>Gemeente Amsterdam</a>
      {% block login %}
      <p class="buttons">
      {% if user.is_authenticated %}
      <a href="/logout/"  class="button secondary">Logout</a>
      {% else %}
      <a href="/login/"  class="button secondary">Login</a>
      {% endif %}
      </p>
      {% endblock %}
    </div>
  </header>
  <main class="main">
{% block main %}
hello world
{% endblock %}
  </main>
  
  <script type="text/javascript" defer src="{% static "js/scripts.js" %}?{% now "U" %}"></script>
  <div class="version">
    <strong>{{ ENV }}</strong><span> {{ SOURCE_COMMIT }}</span>
  </div>
</body>
</html>