{% load static auth_tags version_tags thumbnail %}<!DOCTYPE html>
<html lang="nl" class="no-js no-touch" data-view="normaal">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>Jeugdzorg - {% block title %}Regelingen{% endblock %}</title>
    
    <script type="text/javascript">!function(w,d,v){if(v)d.setAttribute('data-view', v)}(window, document.documentElement,window.localStorage&&window.localStorage.getItem('view'))</script>

    <link rel="stylesheet" type="text/css" href="{% static "css/screen.css" %}?v={% if ENV == 'develop' %}{% now "U" %}_{% endif %}{{ SOURCE_COMMIT }}"/>
    
    <script type="text/javascript">!function(a){a.className=a.className.replace(/\bno-js\b/g,'js'),'ontouchstart'in window&&(a.className=a.className.replace(/\bno-touch\b/g,'touch'))}(document.documentElement)</script>

    <!-- TODO: USE FONTS FROM AMSTERDAM -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/0037f97b-b0f6-41de-8f33-75b12c9f76ea.css"/>


</head>
<body id="top" data-decorator="scroller">
  <header class="header">
    <div class="container">
      <a href="/" class="logo" data-counter="click.nav.logo">
        <i class="icon-andreas"></i>Gemeente Amsterdam
        <strong>{{ SITE_INSTELLINGEN.app_naam }}</strong>
      </a>
      {% block login %}
        <div class="nav-container">
          {% if user.is_authenticated %}
            <p class="nav-login">Ingelogd <span class="small-hide">als </span><a href="{% url 'update_profiel' %}"><strong>
              <span class="icon-avatar" {% if user.profiel.pasfoto %}style="background-image: url('{{ user.profiel.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span>
              <span class="small-hide">{{ user.email }}</span></strong></a></p>
            <a href="#MENU" class="nav-open" data-handler="toggle" data-counter="click.nav.open">MENU<i class="icon-menu"></i></a>
            <nav class="nav" id="MENU">
              <ul class="menu">
                <li><a href="{% url 'themas' %}" data-counter="click.nav.themas">Thema's</a></li>
                <li><a href="{% url 'contacten' %}" data-counter="click.nav.contacten">Contacten</a></li>
                <li class="divider"><a href="{% url 'regelingen' %}" data-counter="click.nav.regelingen">Regelingen</a></li>
                {% if user.is_authenticated %}
                  {% if request.user|has_group:"editor" %}
                  <li><a href="{% url 'create_regeling' %}" data-counter="click.nav.create_regeling">Regeling toevoegen</a></li>
                  {% endif %}
                  <li><a href="{% url 'update_profiel' %}" data-counter="click.nav.update_profiel">Mijn profiel</a></li>
                  <li><a href="{% url 'logout' %}" data-counter="click.nav.logout">Uitloggen</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}" data-counter="click.nav.login">Inloggen</a></li>
                  <li><a href="{% url 'herstel_wachtwoord' %}" data-counter="click.nav.forgot">Wachtwoord vergeten</a></li>
                {% endif %}
              </ul>
            </nav>
          {% else %}
          <p class="nav-login">
            <a href="{% url 'herstel_wachtwoord' %}" data-counter="click.nav.login">Wachtwoord vergeten</a> 
            <a href="{% url 'login' %}" class="button">Inloggen</a>
          </p>
          {% endif %}
          <a href="#MENU" class="nav-close" data-handler="toggle" data-counter="click.nav.close">MENU<i class="icon-close"></i></a>
        </div>
      {% endblock %}
    </div>
  </header>
  
  {% block tabs %}
  
  <nav class="tabs-container">
      <div class="container">
          <ul class="tabs">
              <li><a{% if sub_view == 'thema' %} class="active"{% endif %} data-counter="click.homepage.tab.themas" href="{% url 'themas' %}" data-count="{{ THEMA_COUNT }}">Thema's</a></li>
              <li><a{% if sub_view == 'contact' %} class="active"{% endif %} data-counter="click.homepage.tab.contacten" href="{% url 'contacten' %}" data-count="{{ PROFIEL_COUNT }}">Contacten</a></li>
              <li><a{% if sub_view == 'regeling' %} class="active"{% endif %} data-counter="click.homepage.tab.regelingen" href="{% url 'regelingen' %}" data-count="{{ REGELING_COUNT }}">Regelingen</a></li>
          </ul>
          {% block sort_options %}<div class="sort"></div>{% endblock %}
      </div>
  </nav>
  
  
  {% endblock %}

  <main class="main">
      
      {% if messages %}
          <div class="container">
              <ul class="systeem-berichten">
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
          </div>
      {% endif %}
      
      {% block main %}{% endblock %}
  </main>

  <p class="nav-top">
    <a href="#top" data-handler="scroll" data-counter="click.nav.top">⇡</a>
  </p>

  <div class="version" data-counter="mouseover.app.version">
    <strong>{{ ENV }}</strong><span> {{ SOURCE_COMMIT }}</span>
  </div>

  <script type="text/javascript" src="{% static "js/scripts.js" %}?v={% if ENV == 'develop' %}{% now "U" %}_{% endif %}{{ SOURCE_COMMIT }}"></script>
  <script type="text/javascript" data-counter-token="{{ csrf_token }}" src="{% static "js/counters.js" %}?v={% if ENV == 'develop' %}{% now "U" %}_{% endif %}{{ SOURCE_COMMIT }}"></script>

</body>
</html>