{% extends 'base.html' %}
{% load static %}
{% load auth_tags %}
{% block main %}


<div class="container">
  <p class="nav-back">
    <a href="{% if request.META.HTTP_HOST|add:'/contacten/' in request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'themas' %}{% endif %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Contacten overzicht</a>
  </p>
  
  <div class="container container-small">
    {% if form.errors %}
      <div class="systeem-berichten">
      {{ form.errors.as_ul }}
      </div>
    {% endif %}
    <form action="" method="post" class="well">
      {% csrf_token %}
      <fieldset>
        <legend>Persoonsgegevens</legend>
        <div class="form-aside">
          <span class="contact-avatar"></span>
        </div>
        <div class="inputs">
          <p class="row">
              <label>
                  <strong>Voornaam</strong>
                  <input type="text" name="" value="{{ contact.voornaam }}">
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>Tussenvoegsel</strong>
                  <input type="text" size="5" name="" value="{{ contact.tussenvoegsel }}">
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>Achternaam</strong>
                  <input type="text" name="" value="{{ contact.achternaam }}">
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>Functie</strong>
                  <input type="text" name="" value="{{ contact.rol }}">
              </label>
          </p>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>Contact</legend>
        <div class="form-aside">
          <h3>Privacy</h3>
          <p>Uw profiel is zichtbaar voor:</p>
          <ul>
            <li>personen van "Samen Doen"</li>
          </ul>
          <p class="buttons right">
            <a href="#">wijzigen</a>
          </p>
        </div>
        <div class="inputs">
          <p class="row">
              <label>
                  <strong>Email</strong>
                  <input type="text" name="" value="{{ contact.email }}">
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>Telefoon</strong>
                  <input type="text" name="" value="{{ contact.telefoon }}">
              </label>
          </p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Thema's</legend>
        <div class="row">
          <ul class="choices">
            {% for thema in themas %}
            <li>
              <label>
                <input type="checkbox" value="{{ thema.id }}"><strong>{{ thema.titel }}</strong>
              </label>
            </li>
            {% endfor %}
          </ul>
        </div>
      </fieldset>
      <p class="buttons right">
        <button type="submit" class="button">Opslaan</button>
        <a href="{{ request.META.HTTP_REFERER }}">Annuleren</a>
      </p>
    </form>
    
  </div>
  
  
</div>

{% endblock %}