{% extends 'base.html' %}

{% block title %}Regelingen{% endblock %}

{% block sort_options %}

    <div class="systeem-berichten compact letop has-icon">
      <p>Nog niet alle regelingen zijn toegevoegd aan dit overzicht. Weet je zelf een regeling die hier thuishoort? <a href="mailto:{{ SITE_INSTELLINGEN.standaard_contact_email }}">Meld {{ SITE.instelling.standaard_contact_email }}</a> het ons!
    </div>


    <div class="sort-container">
      <span class="sort-label">Sortering</span>
      <ul class="sort">
          <li>
            <a{% if beeld == 'alfabet' %} class="active"{% endif %} href=".?beeld=alfabet{% if beeld == 'alfabet' and ordening != 'aflopend' %}&amp;ordening=aflopend{% endif %}">alfabetisch <i class="icon-sort-{% if ordening == 'aflopend' %}desc{% else %}asc{% endif %}"></i></a>
          </li>
          <li>
            <a{% if beeld == 'thema' %} class="active"{% endif %} href=".?beeld=thema">thema</a>
          </li>
      </ul>
      <span class="sort-label js-show">Weergave</span>
      <ul class="sort-view js-show" data-decorator="view">
        <li><a href="#normaal" title="Normaal" data-handler="view"><i class="icon-view-normaal"></i></a></li>
        <li><a href="#compact" title="Compact" data-handler="view"><i class="icon-view-compact"></i></a></li>
      </ul>
    </div>
{% endblock %}

{% block main %}

{{ block.super }}

{% include list_template %}

{% endblock %}