{% extends 'list.html' %}

{% block sort_options %}
    <div class="sort-container">
      <span class="sort-label">Sortering</span>
      <ul class="sort">
          <li>

            <a{% if beeld == 'alfabet' %} class="active"{% endif %} href=".?beeld=alfabet{% if beeld == 'alfabet' and ordening != 'aflopend' %}&amp;ordening=aflopend{% endif %}">alfabetisch <i class="icon-sort-{% if ordening == 'aflopend' %}desc{% else %}asc{% endif %}"></i></a>
          </li>
          <li>
            <a{% if beeld == 'thema' %} class="active"{% endif %} href=".?beeld=thema">thema</a>
          </li>
          <!-- <li><a{% if beeld == 'aanbieder' %} class="active"{% endif %} href=".?beeld=aanbieder">Aanbieder</a></li> -->
      </ul>
      <span class="sort-label">Weergave</span>
      <ul class="sort-view">
        <li><a href="#" class="active" title="Normaal"><i class="icon-view-normaal"></i></a></li>
        <li><a href="#" title="Compact"><i class="icon-view-compact"></i></a></li>
      </ul>
    </div>
{% endblock %}

{% block main %}

{{ block.super }}

{% include list_template %}

{% endblock %}