{% extends 'base.html' %}
{% load static %}
{% load auth_tags %}
{% block main %}

{{ block.super }}

<div class="container">
  <p class="nav-back">
      
    {% if sub_view == 'thema' %}
      <a href="{{ parent }}#regelingen" data-counter="click.regeling.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar thema</a>
    {% else %}
      <a href="{% url 'regelingen' %}" data-counter="click.regeling.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar overzicht</a>
    {% endif %}
  </p>
  
  <article class="regeling-detail" id="regeling-{{ regeling.id }}">

      <header class="regeling-header">
          <h1 class="regeling-title">
              {% if request.user|has_group:"editor" %}
                  <small class="regeling-edit"><a href="{% url 'update_regeling' regeling.id %}">[bewerken]</a></small>
              {% endif %}

              {{ regeling.titel }}

          </h1>

          {% if regeling.samenvatting %}
              <div class="regeling-samenvatting">
                  {{ regeling.samenvatting|linebreaks }}
              </div>
          {% endif %}
      </header>

      <div class="regeling-details">
          {% if regeling.voorwaarde_set.all %}
              <ol class="regeling-voorwaarden" data-decorator="progress" data-regeling-id="{{ regeling.id }}" id="voorwaarden">
                  {% for vw in regeling.voorwaarde_set.all %}
                      <li data-voorwaarde-id="{{ vw.id }}" data-counter="mouseover.detail.voorwaarde.{{ vw.id }} mouseout.detail.voorwaarde.{{ vw.id }}">{{ vw.titel }}</li>
                  {% endfor %}
              </ol>
          {% endif %}

      </div>
    
      {% if regeling.profielen_zichtbaar %}
          <div class="contacten-container">

              <h2>Contacten</h2>
              <p>
                  Heeft u een inhoudelijke vraag over "{{ regeling.titel }}"? 
                  {% if request.user|has_group:"viewer" %}
                      Neem dan contact op met één van onderstaande contactpersonen.
                  {% else %}
                      <br>
                      <a href="{% url 'login' %}?next={% url 'detail_regeling' regeling.id %}" data-counter="click.detail.contact.login" data-handler="modal">Log dan in</a> om contactpersonen te raadplegen en te contacteren.
                  {% endif %}
              </p>
              {% if request.user|has_group:"viewer" %}
              <div class="regeling-contacten">
                  <ul class="contacten cards">
                      {% for contact in regeling.profielen_zichtbaar %}
                          <li>
                              {% include "snippets/contact.html" with item=contact.profiel %}
                          </li>
                      {% endfor %}
                  </ul>
              </div>
              {% endif %}
          </div>

      {% endif %}
    
      {% if regeling.aanvraag_url %}
          <div class="regeling-aanvragen" id="regeling-aanvragen">
              <h2>Aanvragen</h2>
              <p>
                  Als u in aanmerking komt voor <strong>{{ regeling.titel }}</strong> kunt u deze op de website van <strong class="regeling-aanbieder">{% if regeling.bron %}{{ regeling.bron }}{% else %}de aanbieder{% endif %}</strong> aanvragen.
              </p>
              <p class="buttons">
                  <a href="{{ regeling.aanvraag_url }}" target="_blank" class="button" data-counter="click.detail.aanvragen.regeling.{{ regeling.id }}">Nu aanvragen <i class="icon-external"></i></a>
              </p>
          </div>
      {% endif %}
  

  </article>
  
</div>

{% endblock %}