{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Regeling</legend>
      <h2>Meta info</h2>
      <p class="row">
        <label>
        <strong>Titel</strong>
        {{ form.titel }}
        </label>
      </p>
      <p class="row">
        <label>
          <strong>Samenvatting</strong>
          {{ form.samenvatting }}
        </label>
      </p>
      <p class="row">
        <label>
          <strong>Aanbieder</strong>
          {{ form.bron }}
        </label>
      </p>
      <p class="row group">
        <label>
          <strong>Startdatum</strong>
          {{ form.startdatum }}
        </label>
        <label>
          <strong>Einddatum</strong>
          {{ form.einddatum }}
        </label>
      </p>
      <h2>Voorwaarden</h2>
      {{ voorwaarde.management_form }}
    
      <ol class="form-list" data-decorator="list">
        {% for form in voorwaarde.forms %}
          <li class=" formset_row">
            <label>
              <strong>Voorwaarde</strong>
              {% for field in form.visible_fields %}
                {% if forloop.first %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
              {% endfor %}
            </label>
          </li>
        {% endfor %}
      </ol>
    </fieldset>
    <p class="buttons">
      <button type="submit" class="button">Opslaan</button> <a href="{% url 'regelingen' %}">Terug naar de lijst</a>
    </p>
  </form>
</div>

{% endblock %}