{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load auth_tags %}

{% block title %}Regeling - {{ regeling.titel }}{% endblock %}
{% block main %}

{{ block.super }}

<div class="container">
  <p class="nav-back">
      
    {% if thema %}
      <a href="{% url 'detail_thema' thema.slug %}" data-counter="click.regeling.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar thema</a>
    {% else %}
      <a href="{% url 'regelingen' %}" data-counter="click.regeling.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar overzicht</a>
    {% endif %}
  </p>
  <div class="regeling regeling-detail">
      
        <!-- <a href="#regeling.{{ regeling.id }}" class="ken-ik" data-handler="ken-ik"><span>Hier weet ik wat van!</span> <i class="icon-ken-ik"></i></a> -->

        <h1 class="regeling-titel"><i class="icon-regeling"></i> {{ regeling.titel }}</h1>

        <div class="article-container">
      
          <article id="regeling-{{ regeling.id }}">

              {% if regeling.samenvatting %}
                  <div class="regeling-samenvatting">
                      {{ regeling.samenvatting|linebreaks }}
                  </div>
              {% endif %}

              <div class="regeling-details">
                  {% if regeling.voorwaarde_set.all %}
                      <ol class="regeling-voorwaarden" data-regeling-id="{{ regeling.id }}" id="voorwaarden">
                          {% for vw in regeling.voorwaarde_set.all %}
                              <li data-voorwaarde-id="{{ vw.id }}" data-counter="mouseover.detail.voorwaarde.{{ vw.id }} mouseout.detail.voorwaarde.{{ vw.id }}">{{ vw.titel }}</li>
                          {% endfor %}
                      </ol>
                  {% endif %}
                  
                  {% if regeling.bron_url %}
                  <p class="regeling-bron">
                    <a href="{{ regeling.bron_url }}" target="_blank">Bron: {{ regeling.bron_url }}</a>
                  </p>
                  {% endif %}

              </div>

          </article>
        
          <aside class="aside">
            {% if regeling.aanvraag_url %}
  
              <p>
                <a class="aside-block regeling-aanvraag" href="{{ regeling.aanvraag_url }}" target="_blank" {% if regeling.bron %}title="{{ regeling.bron }}"{% endif %}>Aanvragen <i class="icon-external"></i></a>
              </p>

            {% endif %}
        
            {% if user.is_authenticated %}
        
              {% if regeling in user.profiel.regeling_lijst.all %}
                <p>
                  <a href="{% url 'update_profiel' %}#regelingen" class="aside-block ik-weet-hier-iets-over active">
                    <span class="icon-avatar" {% if user.profiel.pasfoto %}style="background-image: url('{{ user.profiel.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span> 
                    <strong>Jij bent een contactpersoon voor deze regeling. </strong>
                    Collega hulpverleners kunnen jou daarover vragen stellen! Dit kan je <u>hier</u> instellen.
                  </a>
                </p>
              {% else %}
                <p>
                  <a href="{% url 'update_profiel' %}#regelingen" class="aside-block ik-weet-hier-iets-over">
                    <span class="icon-avatar" {% if user.profiel.pasfoto %}style="background-image: url('{{ user.profiel.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span> 
                    <strong>Gebruik jij deze regeling vaker? </strong>
                    Zou jij je collega's hiermee kunnen helpen en mogen zij jou daarover vragen stellen? Geef dat dan <u>hier</u> aan!
                  </a>
                </p>
              {% endif %}
            {% endif %}
  
            <div class="aside-block regeling-feedback">
              <h3 class="aside-title">Feedback op deze regeling?</h3>
              <ul>
                <li><a href="mailto:{{ SITE_INSTELLINGEN.standaard_contact_email }}?subject=Fout melden over de regeling: '{{ regeling.titel|urlencode }}'&amp;body=Beste mensen,%0D%0A%0D%0AIk heb een fout gevonden op de pagina van de regeling '{{ regeling.titel|urlencode }}'.%0D%0A%0D%0ALink: {{ request.build_absolute_uri|urlencode }}"><i class="icon-mail"></i> Fout melden</a></li>
                <li><a href="mailto:{{ SITE_INSTELLINGEN.standaard_contact_email }}?subject=Suggestie over de regeling: '{{ regeling.titel|urlencode }}'&amp;body=Beste mensen,%0D%0A%0D%0AIk heb een suggestie over de regeling '{{ regeling.titel|urlencode }}'.%0D%0A%0D%0ALink: {{ request.build_absolute_uri|urlencode }}"><i class="icon-mail"></i> Verbeter suggesties</a></li>
              </ul>
            </div>
  
          </aside>
      </div>
    
      {% if regeling.profielen_zichtbaar %}

        <h2 class="shortcut" id="contacten"><strong>{{ regeling.profielen_zichtbaar|length }}</strong> {% if regeling.profielen_zichtbaar|length != 1 %}contactpersonen{% else %}contactpersoon{% endif %}</h2>
        <p>
            Heb je een inhoudelijke vraag over "{{ regeling.titel }}"? 
            {% if request.user|has_group:"viewer" %}
                Neem dan contact op met één van onderstaande contactpersonen.
            {% else %}
                <br>
                <a href="{% url 'login' %}?next={% url 'detail_regeling' regeling.id %}" data-counter="click.detail.contact.login" data-handler="modal">Log dan in</a> om contactpersonen te vinden.
            {% endif %}
        </p>
        {% if request.user|has_group:"viewer" %}
            <ul class="contacten cards">
                {% for contact in regeling.profielen_zichtbaar %}
                    <li>
                        {% include "snippets/contact.html" with item=contact.profiel %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

      {% endif %}
    
  
    </div>

  
</div>

{% endblock %}