{% extends 'base.html' %}

{% block title %}Thema's{% endblock %}

{% block sort_options %}
    <div class="sort-container">
      <span class="sort-label">Sortering</span>
      <ul class="sort">
          <li>
            <a class="active" href=".?beeld=alfabet{% if ordening != 'aflopend' %}&amp;ordening=aflopend{% endif %}">alfabetisch <i class="icon-sort-{% if ordening == 'aflopend' %}desc{% else %}asc{% endif %}"></i></a>
          </li>
      </ul>
    </div>
{% endblock %}

{% block main %}

{{ block.super }}

{% include 'snippets/thema_list_alfabet.html' %}

{% endblock %}