{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load auth_tags %}

{% block title %}Thema - {{ object.titel }}{% endblock %}

{% block main %}

{{ block.super }}

<div class="container">

  <p class="nav-back">
    <a href="{% url 'themas' %}" data-counter="click.thema.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar overzicht</a>
  </p>
  
  
  <div class="thema thema-detail">
    
    <article id="thema-{{ thema.id }}">

        <header class="thema-header">

            <h1 class="thema-titel">
            
                <a href="#thema.{{ object.id }}" class="ken-ik" data-handler="ken-ik"><span>Hier weet ik wat van!</span> <i class="icon-ken-ik"></i></a>

                {{ object.titel }}

            </h1>

            {% if object.omschrijving %}
                <div class="thema-samenvatting">
                    {{ object.omschrijving|linebreaks }}
                </div>
            {% endif %}
            
            
        </header>

    </article>
    
  
    {% if object.profielen_zichtbaar %}

        <h2 class="shortcut" id="contacten"><strong>{{ object.profielen_zichtbaar|length }}</strong> {% if object.profielen_zichtbaar|length != 1 %}contactpersonen{% else %}contactpersoon{% endif %}</h2>
        <p>
            Heb je een inhoudelijke vraag over het thema "{{ object.titel }}"? 
            {% if request.user|has_group:"viewer" %}
                <br>Neem dan contact op met één van onderstaande contactpersonen.
            {% else %}
                <br>
                <a href="{% url 'login' %}?next={% url 'detail_thema' object.slug %}" data-counter="click.thema.contact.login" data-handler="modal">Log dan in</a> om contactpersonen te raadplegen.
            {% endif %}
        </p>
        {% if request.user|has_group:"viewer" %}
            <ul class="contacten cards">
                {% for contact in object.profielen_zichtbaar %}
                    <li>
                        {% include "snippets/contact.html" with item=contact %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}
    
    {% if user.is_authenticated %}
  
        {% if object in user.profiel.thema_lijst.all %}
          <p>
            <a href="{% url 'update_profiel' %}#themas" class="aside-block ik-weet-hier-iets-over active">
              <span class="icon-avatar" {% if user.profiel.pasfoto %}style="background-image: url('{{ user.profiel.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span> 
              <strong>Jij bent een contactpersoon voor dit thema. </strong>
              Collega hulpeverleners kunnen jou daarover vragen stellen! Dit kan je <u>hier</u> instellen.
            </a>
          </p>
        {% else %}
          <p>
            <a href="{% url 'update_profiel' %}#themas" class="aside-block ik-weet-hier-iets-over">
              <span class="icon-avatar" {% if user.profiel.pasfoto %}style="background-image: url('{{ user.profiel.pasfoto|thumbnail_url:'avatar_x' }}')"{% endif %}></span> 
              <strong>Weet jij meer over dit thema? </strong>
              Zou jij je collegas hiermee kunnen helpen en mogen zij jou daarover vragen stellen? Geef dat dan <u>hier</u> aan!
            </a>
          </p>
        {% endif %}
    
    {% endif %}
    
  
  
    {% if object.regeling_set.all %}
  

        <h2 class="shortcut" id="regelingen"><strong>{{  object.regeling_set.all|length }}</strong> regeling{% if  object.regeling_set.all|length != 1 %}en{% endif %}</h2>
        <ul class="regelingen cards">
          {% for regeling in object.regeling_set.all %}
              <li>
                  {% include 'snippets/regeling.html' %}
              </li>
          {% endfor %}
        </ul>


    {% endif %}
  
  </div>
</div>

  {% endblock %}