{% extends 'base.html' %}
{% load static %}
{% load auth_tags %}
{% block main %}

{{ block.super }}

<div class="container">

  <p class="nav-back">
    <a href="{% url 'themas' %}" data-counter="click.thema.back" data-handler="back"><i class="icon-arrow-left"></i> Terug naar overzicht</a>
  </p>
  
  
  <article class="thema-detail" id="thema-{{ thema.id }}">

      <header class="thema-header">

          <h1 class="thema-title">
            
              <a href="#thema.{{ object.id }}" class="ken-ik" data-handler="ken-ik"><span>Hier weet ik wat van!</span> <i class="icon-ken-ik"></i></a>

              {{ object.titel }}

          </h1>

          {% if object.omschrijving %}
              <div class="thema-samenvatting">
                  {{ object.omschrijving|linebreaks }}
              </div>
          {% endif %}
      </header>

  </article>
  
  {% if object.profielen_zichtbaar %}

      <h2 class="shortcut" id="contacten"><strong>{{ object.profielen_zichtbaar|length }}</strong> contact{% if object.profielen_zichtbaar|length != 1 %}en{% endif %}</h2>
      <p>
          Heeft u een inhoudelijke vraag over het thema "{{ object.titel }}"? 
          {% if request.user|has_group:"viewer" %}
              <br>Neem dan contact op met één van onderstaande contactpersonen.
          {% else %}
              <br>
              <a href="{% url 'login' %}?next={% url 'detail_thema' object.slug %}" data-counter="click.thema.contact.login" data-handler="modal">Log dan in</a> om contactpersonen te raadplegen en te contacteren.
          {% endif %}
      </p>
      {% if request.user|has_group:"viewer" %}
          <ul class="contacten cards">
              {% for contact in object.profielen_zichtbaar %}
                  <li>
                      {% include "snippets/contact.html" with item=contact %}
                  </li>
              {% endfor %}
          </ul>
      {% endif %}

  {% endif %}
  
  
  {% if object.regeling_set.all %}
  

      <h2 class="shortcut" id="regelingen"><strong>{{  object.regeling_set.all|length }}</strong> regeling{% if  object.regeling_set.all|length != 1 %}en{% endif %}</h2>
      <ul class="regelingen cards">
        {% for regeling in object.regeling_set.all %}
            <li>
                {% include 'snippets/regeling.html' %}
            </li>
        {% endfor %}
      </ul>


  {% endif %}
  
  
</div>

{% endblock %}