{% extends 'base.html' %}
{% load static %}
{% load auth_tags %}
{% block main %}


<div class="container">
  <p class="nav-back">
    <a href="{% if request.META.HTTP_HOST|add:'/themas/' in request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'themas' %}{% endif %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Thema overzicht</a>
  </p>
  
  
  <article class="thema" id="thema-{{ thema.id }}">

      <header class="thema-header">

          <h1 class="thema-title">

              {{ object.titel }}

          </h1>

          {% if object.omschrijving %}
              <div class="thema-samenvatting">
                  {{ object.omschrijving|linebreaks }}
              </div>
          {% endif %}
      </header>

  </article>
  
  {% if object.profiel_set.all %}

      <hr>

      <div class="thema-contacten">

          <h2>Contacten</h2>
          <p>
              Heeft u een inhoudelijke vraag over het thema "{{ object.titel }}"? 
              {% if request.user|has_group:"viewer" %}
                  Neem dan contact op met één van onderstaande contactpersonen.
              {% else %}
                  <br>
                  <a href="{% url 'login' %}?next={% url 'detail_thema' object.id %}" data-counter="click.thema.contact.login">Log dan in</a> om contactpersonen te raadplegen en te contacteren.
              {% endif %}
          </p>
          {% if request.user|has_group:"viewer" %}
              <ul class="contacten">
                  {% for contact in object.profiel_set.all %}
                      <li>
                          {% include "snippets/contact.html" with item=contact %}
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>

  {% endif %}
  
  
  {% if object.regeling_set.all %}
  
      <hr>
  
      <div class="thema-regelingen">
        <h2>Regelingen in "{{ object.titel }}"</h2>

        {% include 'snippets/regeling_list_alfabet.html' with regeling_list=object.regeling_set.all %}
      </div>

  {% endif %}
  
  
</div>

{% endblock %}