{% extends 'base.html' %}

{% block login %}{% endblock %}
{% block tabs %}{% endblock %}
{% block messages %}
{% if request.GET.aangemaakt %}
    <div class="container">
        <ul class="systeem-berichten goed">
            <li>Een link om je account te activeren is verstuurd naar het opgegeven e-mailadres.</li>
        </ul>
    </div>
{% endif %}
{% endblock %}
{% block main %}
    {% if request.GET.aangemaakt %}
    {% else %}
    <div class="container">
        <div class="container container-small">

            {% if form.errors %}
                <div class="systeem-berichten fout">
                    <ul>
                        {% for e, v in form.errors.items %}
                            <li>{{ v }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="post" action="." class="login well">
                <h1>Registratie</h1>
                <fieldset>

                    {% csrf_token %}
                    <div class="inputs">
                        <p class="row">
                            <label>
                                <strong>Voornaam</strong>
                                {{ form.voornaam }}
                            </label>
                        </p>
                        <p class="row">
                            <label>
                                <strong>Tussenvoegsel</strong>
                                {{ form.tussenvoegsel }}
                            </label>
                        </p>
                        <p class="row">
                            <label>
                                <strong>Achternaam</strong>
                                {{ form.achternaam }}
                            </label>
                        </p>

                    </div>
                    <div class="inputs">
                        <p class="row">
                            <label>
                                <strong>E-mailadres</strong>
                                {{ form.email }}
                            </label>
                        </p>
                    </div>
                    <div class="inputs">
                        <div class="systeem-berichten">
                            <p>
                                Je wachtwoord
                            </p>
                            <ul class="list">
                                <li>mag niet lijken op je e-mailadres</li>
                                <li>moet minimaal 8 karakters bevatten</li>
                                <li>mag geen makkelijk wachtwoord zijn</li>
                                <li>moet minstens één cijfer bevatten</li>
                                <li>moet minstens één hoofdletter bevatten</li>
                                <li>moet minstens één kleine letter bevatten</li>
                                <li>moet minstens één speciaal karakter bevatten</li>
                            </ul>
                        </div>
                        <p class="row">
                            <label>
                                <strong>Wachtwoord</strong>
                                {{ form.password1 }}
                            </label>
                        </p>
                        <p class="row">
                            <label>
                                <strong>Bevestiging wachtwoord</strong>
                                {{ form.password2 }}
                            </label>
                        </p>
                    </div>
                    <p class="buttons right">
                      <button class="button" type="submit">Maak aan</button>
                      <a href="{% url 'homepage' %}" data-handler="modal-close back" class="left" data-counter="click.register.cancel">Annuleren</a>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}