{% extends 'base.html' %}

{% block main %}
<div class="container">
  <p class="nav-back">
{#    <a href="{% if request.META.HTTP_HOST|add:'/contacten/' in request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'themas' %}{% endif %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Contacten overzicht</a>#}
    <a href="{% url 'contacten' %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Contacten overzicht</a>
  </p>

  <div class="container container-small">
    {% if form.errors %}
      <div class="systeem-berichten">
      {{ form.errors.as_ul }}
      </div>
    {% endif %}
    <form action="{% url 'update_profiel' %}" method="post" class="well"  enctype="multipart/form-data">
      {% csrf_token %}

    {{ profiel.management_form }}
    {% for hidden in profiel.forms.0.hidden_fields %}
        {{ hidden }}
    {% endfor %}
      <fieldset>

        <legend>Persoonsgegevens</legend>

        <div class="form-aside">

          <div class="contact-avatar" data-decorator="avatar">
            <span class="icon-avatar" {% if profiel.forms.0.pasfoto.value %}style="background-image: url('{{ profiel.forms.0.pasfoto.value.url }}')"{% endif %}></span>
            
            <div class="contact-avatar-controls">
              {{ profiel.forms.0.pasfoto }}
              <span class="contact-avatar-upload">Foto vervangen (Max. 2MB)</span>
            </div>
            
          </div>

            
        </div>
        <div class="inputs">
            {% if object.date_saved|date:"Y-m-d|H:i:s" == object.date_joined|date:"Y-m-d|H:i:s" %}
            Stel hier je profiel samen zodat je collega's je beter kunnen vinden.
            {% endif %}
          <p class="row">
          {{ form.email }}
          </p>
          <p class="row">
              <label>
                  <strong>Inlognaam</strong>
                  <input type="email" readonly value="{{ form.email.value }}">
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.voornaam.label }}</strong>
                  {{ profiel.forms.0.voornaam }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.tussenvoegsel.label }}</strong>
                  {{ profiel.forms.0.tussenvoegsel }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.achternaam.label }}</strong>
                  {{ profiel.forms.0.achternaam }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.functie.label }}</strong>
                  {{ profiel.forms.0.functie }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.vaardigheden.label }}</strong>
                  {{ profiel.forms.0.vaardigheden }}
              </label>
          </p>
        </div>
      </fieldset>

      <fieldset>
        <legend>Contact</legend>

        <div class="form-aside"></div>

        <div class="inputs">
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.email.label }}</strong>
                  {{ profiel.forms.0.email }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.telefoonnummer.label }}</strong>
                  {{ profiel.forms.0.telefoonnummer }}
              </label>
          </p>
        </div>
      </fieldset>
      <fieldset>
        <legend>Mijn organisatie</legend>
        <div class="row">
            {{ profiel.forms.0.organisatie_lijst }}
        </div>
      </fieldset>
      <fieldset>
        <legend>Mijn gebieden</legend>
        <div class="row">
            {{ profiel.forms.0.gebied_lijst }}
        </div>
      </fieldset>
      <fieldset>
        <legend>Thema's</legend>
        <div class="row">
            {{ profiel.forms.0.thema_lijst }}
        </div>
      </fieldset>
      <fieldset>
        <legend>Regelingen</legend>
        <div class="row">
            {{ profiel.forms.0.regeling_lijst }}
        </div>
      </fieldset>

      <p class="row contact-status">
        <label>
            {{ profiel.forms.0.zichtbaar }}
            <strong>{{ profiel.forms.0.zichtbaar.label }}</strong>
        </label>
        <span class="help" id="contact-status-help">
          Hiermee geef je aan of je account zichtbaar is voor je collega's. Bij een onzichtbaar profiel zal je niet gevonden worden en kan je niet benaderd worden voor vragen van collega hulpverleners.
        </span>
        <a href="#contact-status-help" data-handler="toggle" class="contact-status-help"><abbr title="Wat betekent dit?">?</abbr></a>
      </p>

      <p class="buttons right">
        <button type="submit" class="button">Opslaan</button>
        <a href="{{ request.META.HTTP_REFERER }}">Annuleren</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}