{% extends 'base.html' %}

{% block main %}
<div class="container">
  <p class="nav-back">
{#    <a href="{% if request.META.HTTP_HOST|add:'/contacten/' in request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'themas' %}{% endif %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Contacten overzicht</a>#}
    <a href="{% url 'contacten' %}" data-counter="click.thema.back"><i class="icon-arrow-left"></i> Contacten overzicht</a>
  </p>

  <div class="container container-small">
    {% if form.errors %}
      <div class="systeem-berichten">
      {{ form.errors.as_ul }}
      </div>
    {% endif %}
    <form action="{% url 'update_profiel' %}" method="post" class="well"  enctype="multipart/form-data">
      {% csrf_token %}

    {{ profiel.management_form }}
    {% for hidden in profiel.forms.0.hidden_fields %}
        {{ hidden }}
    {% endfor %}
      <fieldset>

        <legend>Persoonsgegevens</legend>
        
        <div class="form-aside">

          <div class="contact-avatar" data-decorator="avatar">
            <span class="icon-avatar" {% if profiel.forms.0.pasfoto.value %}style="background-image: url('{{ profiel.forms.0.pasfoto.value.url }}')"{% endif %}></span>
            
            <div class="contact-avatar-controls">
              {{ profiel.forms.0.pasfoto }}
              <span class="contact-avatar-upload">Foto vervangen</span>
            </div>
            
          </div>

            
        </div>
        <div class="inputs">
          {{ form.email }}
          <p class="row">
              <label>
                  <strong>Inlognaam</strong>
                  <input type="email" readonly value="{{ form.email.value }}">
              </label>
          </p>
          
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.voornaam.label }}</strong>
                  {{ profiel.forms.0.voornaam }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.tussenvoegsel.label }}</strong>
                  {{ profiel.forms.0.tussenvoegsel }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.achternaam.label }}</strong>
                  {{ profiel.forms.0.achternaam }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.functie.label }}</strong>
                  {{ profiel.forms.0.functie }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.vaardigheden.label }}</strong>
                  {{ profiel.forms.0.vaardigheden }}
              </label>
          </p>
        </div>
      </fieldset>

      <fieldset>
        <legend>Contact</legend>
        <div class="form-aside">
          <h3>Privacy</h3>
          <p>Uw profiel is zichtbaar voor:</p>
          {% if profiel.forms.0.organisatie_lijst %}
          <ul>
            {% for organisatie in profiel.forms.0.instance.organisatie_lijst.all %}
            <li>personen van "{{ organisatie.naam }}"</li>
            {% endfor %}
          </ul>
          {% else %}
          <ul>
          <li>
              Je bent nog niet aan een organisatie verbonden
          </li>
          </ul>
          {% endif %}
{#          <p class="buttons right">#}
{#            <a href="#">wijzigen</a>#}
{#          </p>#}
        </div>
        <div class="inputs">
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.email.label }}</strong>
                  {{ profiel.forms.0.email }}
              </label>
          </p>
          <p class="row">
              <label>
                  <strong>{{ profiel.forms.0.telefoonnummer.label }}</strong>
                  {{ profiel.forms.0.telefoonnummer }}
              </label>
          </p>
        </div>
      </fieldset>

      <fieldset>
        <legend>Thema's</legend>
        <div class="row">
            {{ profiel.forms.0.thema_lijst }}
{#            {{ profiel.forms.0.themas }}#}
{#            {% if profiel.forms.0.themas %}#}
{#                <ul class="choices default-inline">#}
{#                {{ profiel.forms.0.themas.management_form }}#}
{#                {{ profiel.forms.0.themas.non_form_errors }}#}
{#                <li>#}
{##}
{#                {% for nested_form in profiel.forms.0.themas.forms %}#}
{#                    {{ nested_form }}#}
{#                {% endfor %}#}
{#                </li>#}
{#                </ul>#}
{#            {% endif %}#}
        </div>
      </fieldset>
      <fieldset>
        <legend>Regelingen</legend>
        <div class="row">
            {{ profiel.forms.0.regeling_lijst }}
        </div>
      </fieldset>
      <fieldset>
        <legend>Mijn organisatie</legend>
        <div class="row">
            {{ profiel.forms.0.organisatie_lijst }}
        </div>
      </fieldset>
      
      <p class="row contact-status">
        <label>
            {{ profiel.forms.0.zichtbaar }}
            <strong>{{ profiel.forms.0.zichtbaar.label }}</strong>
        </label>
        <span class="help" id="contact-status-help">
          Hiermee geeft u aan of u zichtbaar bent voor uw collega's zodat ze eventueel contact met u kunnen opnemen over uw vaardigheden.
        </span>
        <a href="#contact-status-help" data-handler="toggle" class="contact-status-help"><abbr title="Wat betekent dit?">?</abbr></a>
      </p>
      
      <p class="buttons right">
        <button type="submit" class="button">Opslaan</button>
        <a href="{{ request.META.HTTP_REFERER }}">Annuleren</a>
      </p>
    </form>
  </div>
</div>



{#    <form action="{% url 'update_profiel' object.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{##}
{#        <fieldset class="regeling-set">#}
{##}
{#            <legend>Profiel details</legend>#}
{#            {{ profiel.management_form }}#}
{#            {% for hidden in profiel.forms.0.hidden_fields %}#}
{#                {{ hidden }}#}
{#            {% endfor %}#}
{#            {% for field in profiel.forms.0.visible_fields %}#}
{#                {{ field.errors.as_ul }}#}
{#                {{ field.label }}#}
{#                {{ field }}#}
{#            {% endfor %}#}
{##}
{#            <ol class="form-list">#}
{#                {% for form in profiel.forms %}#}
{#                    <li>#}
{#                        <label>#}
{#                            <strong>Voorwaarde</strong>#}
{#                            {% for field in form.visible_fields %}#}
{#                                {% if forloop.first %}#}
{#                                    {% for hidden in form.hidden_fields %}#}
{#                                        {{ hidden }}#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                                {{ field.errors.as_ul }}#}
{#                                {{ field.label }}#}
{#                                {{ field }}#}
{#                            {% endfor %}#}
{#                        </label>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#        </fieldset>#}
{##}
{#        <button type="submit" class="button">Wijzig</button>#}
{#    </form>#}
{% endblock %}